<br><br>
<div class="center">
	<div class="exp-file hidden">
		<i class="huge icon reneco reneco-pdf_format"></i><br>
		<br>
		<label for="pdf">Get PDF File</label><br>
		<input name="file" id="pdf" type="radio" value="pdf">
	</div>
	<div class="exp-file">
		<i class="huge icon reneco reneco-csv_format"></i><br>
		<br>
		<label for="csv">Get CSV File</label><br>
		<input name="file" id="csv" type="radio" value="csv">
	</div>
	<div class="exp-file">
		<i class="huge icon reneco reneco-gpx_format"></i><br>
		<br>
		<label for="gpx">Get GPX File</label><br>
		<input name="file" id="gpx" type="radio" value="gpx">
	</div>
</div>
