<br>

<div class="btn-group" role="group">
	<button id="selectAll" class="small btn btn-labeled btn-success white">
		Select all
		<span class="btn-label">
		<i class="icon reneco reneco-validate white action-picto"></i>
		</span>
	</button>
	<button id="validateColumns" class="small btn btn-labeled btn-success white">
		Sync. preview
		<span class="btn-label">
		<i class="icon reneco reneco-syncing white action-picto"></i>
		</span>
	</button>
</div>


<br><br>

<div id="Columns" class="clearfix">
</div>

<br>
