<div class="clearfix text-center">
	<!--<label for="pdf" id="pdfTile" class="tile-inside text-center">
			<i class="icon-five reneco reneco-pdf_format"></i><br>
			<br>
			<span data-i18n="export.pdf-file">Get PDF File</span><br>
			<input name="file" id="pdf" type="radio" value="pdf">
	</label> -->
	
	<label for="csv" id="csvTile" class="tile-inside text-center">
			<i class="icon-five reneco reneco-csv_format"></i><br>
			<br>
			<span data-i18n="export.csv-file">Get CSV File</span><br>
			<input name="file" id="csv" type="radio" value="csv">
	</label>

	<label for="excel" id="excelTile" class="tile-inside text-center">
			<i class="icon-five reneco reneco-csv_format"></i><br>
			<br>
			<span data-i18n="export.excel-file">Get Excel File</span><br>
			<input name="file" id="excel" type="radio" value="excel">
	</label>
	
	<label for="gpx" id="gpxTile" class="tile-inside text-center">
			<i class="icon-five reneco reneco-gpx_format"></i><br>
			<br>
			<span data-i18n="export.gpx-file">Get GPX File</span><br>
			<input name="file" id="gpx" type="radio" value="gpx">
	</label>
</div>
