<div class="col-xs-4 full-height no-padding">
  <div class="toolbar top">
    <legend data-i18n="export.legend-columns">Choose your columns</legend>
  </div>
  <div class="crop2">
    <br>
    <div id="columns"></div>
    <input type="text" id="requirement" class="hidden required">
  </div>
  <div class="toolbar bottom">
    <div class="pull-right">
      <button class="btn" id="all" data-i18n="button.select-all">Select All</button>
      <button class="btn" id="none" data-i18n="button.unselect-all">Unselect All</button>
    </div>
  </div>
</div>

<div class="col-xs-8 full-height no-padding dark">
  <div class="toolbar top">
    <legend class="">
      <span class="pull-left"> <span data-i18n="export.legend-preview">Preview </span>&nbsp;(20 <span data-i18n="export.legend-rows">first rows</span>)</span>
      <span class="pull-right">.&nbsp;Total : <span id="total"></span> <span data-i18n="shared.rows">rows</span></span>
    </legend>
  </div>
    <div class="crop1">
    <div id="grid" class="grid-auto"></div>
  </div>
</div>
