<div class="col-xs-4 full-height no-padding">
  <div class="toolbar top">
    <legend class="inherit">Filter</legend>
    <legend class="pull-right inherit">Total : <span id="total">_</span></legend>
  </div>
  <div class="crop2">
    <br>
    <select class="form-control" name="" id="filtersList"></select>
    <br><br>
    <div id="filters" class="row"></div>
  </div>
  <div class="toolbar bottom">
    <button id="filter" class="btn pull-right btn-success">
      Filter&nbsp;
      <span class="reneco reneco-search"></span>
    </button>
  </div>
</div>

<div class="col-xs-8 full-height no-padding">
  <div id="map"></div>
</div>
