<div class="col-xs-4 full-height no-padding">
  <div class="toolbar top">
    <legend>Choose your columns</legend>
  </div>
  <div class="crop2">
    <br>
    <div id="columns"></div>
    <input type="text" id="requirement" class="hidden required">
  </div>
  <div class="toolbar bottom">
    <div class="pull-right">
      <button class="btn" id="none">Unselect All</button>
      <button class="btn" id="all">Select All</button>
    </div>
  </div>
</div>


<div class="col-xs-8 full-height no-padding dark">
  <div class="toolbar top">
    <legend class="pull-left">
      Preview (20 first rows)
    </legend>
    <legend class="pull-right"> 
      Total : <span class="js-total-records"></span> rows
    </legend>
  </div>

  <div class="js-rg-grid crop2 col-xs-12 no-padding">
  </div>

  <div class="toolbar bottom"></div>
</div>
