
<div class="col-xs-12">
	<br>
  <fieldset>
    <h3>Select a protocol</h3>
    <select id="protocols" name="protocols" class="form-control"></select>
    <br>
    <label for="newproto">Or input a name to create a new protocol</label>
    <input placeholder="protocol name" class="form-control" name="newproto" id="newproto">  
  </fieldset>
  <div class="template hidden">
    <h3>Get excel template file for this protocol</h3>
    <p class="selectedProto"></p>
    <br>
    <button class="btn pull-left tplbtn">Get template</button>
  </div>

</div>
