ALTER TABLE [EcoReleve_ECWP].[dbo].[ObservationDynPropValue]
ALTER COLUMN ValueFloat decimal(12,5) null

ALTER TABLE [EcoReleve_ECWP].[dbo].SensorDynPropValue
ALTER COLUMN ValueFloat decimal(12,5) null

ALTER TABLE [EcoReleve_ECWP].[dbo].MonitoredSiteDynPropValue
ALTER COLUMN ValueFloat decimal(12,5) null

ALTER TABLE [EcoReleve_ECWP].[dbo].IndividualDynPropValue
ALTER COLUMN ValueFloat decimal(12,5) null

ALTER TABLE [EcoReleve_ECWP].[dbo].StationDynPropValue
ALTER COLUMN ValueFloat decimal(12,5) null