<div class="col-xs-9 full-height no-padding">
  <div id="protoFormsContainer" class="full-height"></div>
</div>

<div class="col-xs-3 full-height no-padding border-left white">
    <div class="toolbar top">
      <div class="input-group">
        <select name="" id="protoPicker" class="form-control"></select>
        <span class="input-group-btn">
          <button class="btn-secondary btn btn-success" id="addProto">
            <span class="reneco reneco-add"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="crop1">
      <ul id="protoMenuContainer" class="list-group"></ul>
    </div>
</div>