
<div id="inputStLeft"  class="col-xs-12 col-md-7 ns-full-height">
	<br>
	<ul class="nav nav-tabs">
		 <li class="active tab-ele"><a href="#stWithCoords" class="tab-link">With coordinates</a></li>
		 <li class="tab-ele"><a href="#stWithoutCoords" class="tab-link">Without coordinates</a></li>
		 <li class="tab-ele"><a href="#stFromMS" class="tab-link">From monitored site</a></li>
	</ul>
	<div class="tab-content">
			<br>
			<button id="getCurrentPosition" class="btn btn-success pull-right">
				Geolocalisation&nbsp;
				<span class="reneco reneco-pin"></span>
			</button>
			<br>
			<div id="staForm" class="clearfix"></div>
			<br>
			<button id="save" class="btn btn-success pull-right">
				Save&nbsp;
				<span class="reneco reneco-write"></span>
			</button>
			<br><br>
	</div>

</div>

<div id="inputStRight" class=" no-padding col-xs-12 col-md-5 ns-full-height">
	<div id="map"></div>
</div>
