
<div class="col-xs-9 full-height custom-elt ">
  <div id="protoFormsContainer" class="full-height"></div>
</div>


<div class="col-xs-3 full-height">
    <br>
    <div class="input-group">
      <select name="" id="protoList" class="form-control"></select>
      <span class="input-group-btn">
        <button class="btn-secondary btn btn-success" id="addProto">
          <span class="reneco reneco-add"></span>
        </button>
      </span>
    </div>
    <br>
    <ul id="protoListContainer" class="list-group"></ul>
</div>
