
<div id=""  class="white scroll-auto col-xs-12 col-md-4 no-padding full-height">
  <div class="full-height" id="rgStation">
    <div class="toolbar top">
      <button class="btn pull-left" id="back">
            <span class="reneco reneco-back"></span>
            &nbsp;
            <span data-i18n="button.back">Back</span>
      </button>

      <div id="navbar" class="pull-right"></div>
    </div>
    <div class="crop2">
      <div id="stationForm"></div>
    </div>
    <div class="toolbar bottom">
      <div id="stationFormBtns"></div>
    </div>
  </div>
</div>

<div id="rgProtos" class="col-xs-12 col-md-8 no-padding full-height dark">

  <div id="protoEditor" class="full-height"></div>


</div>
