<div class="col-xs-4 full-height scroll-auto no-padding">

	<div class="panel-group filter-bg-image clearfix full-height" id="filter-accordion" >

		<div class="panel panel-default" style="border: none; background-color: rgba(0, 0, 0, 0);">
			<div class="panel-heading top-level" style="border-radius: 0px;">
				<h1 class="panel-title">
				<a data-toggle="collapse" data-parent="#filter-accordion" href="#filter-collapse">
					Filters
					<i class="glyphicon pull-right"></i>
				</a>
				</h1>
			</div>
			<div id="filter-collapse" class="panel-collapse clearfix">
				<div id="filters" class="clearfix"></div>
				<br>
				<div class="container-fluid clearfix">
					<button id="update" class="small btn btn-labeled btn-success pull-right">
						 FILTER
						<span class="btn-label">
							<i class="icon reneco search "></i>
						</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pannels-container col-xs-8 no-padding">
			<div class="functions clearfix">

	<span class="pull-right">
		<button id="display-map" class="small btn btn-labeled btn-success">
			 Map
			<span class="btn-label">
				<i class="icon reneco map"></i>
			</span>
		</button>

		<button id="display-grid" class="small btn btn-labeled btn-success">
			 Grid
			<span class="btn-label">
				<i class="icon reneco sites"></i>
			</span>
		</button>
	</span>
</div>
	<div class="col-xs-12 pannel pannel-grid full-height scroll-auto active">
		<br>
		<div id="paginator"></div>
		<br>
		<div id="grid" class="dark"></div>
		<br>
	</div>
	<div class="col-xs-12 full-height no-padding pannel pannel-map ">
		<div id="map" style="height: 100%"></div>
	</div>
</div>
