<div class="col-xs-3 full-height no-padding dark">
    <div class="toolbar top border-right">
      <div class="input-group">
        <select name="" id="protoPicker" class="form-control"></select>
        <span class="input-group-btn">
          <button class="btn-secondary btn btn-success" id="addProto">
            <span class="reneco reneco-add"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="crop2 no-padding">
      <div id="protoMenuContainer" class="clearfix"></div>
    </div>

    <div class="toolbar bottom border-right">

    </div>
</div>

<div class="col-xs-9 full-height no-padding">
  <div id="protoFormsContainer" class="full-height">
    <div class="toolbar top"></div>
      <div class="crop2 dark-strong"></div>
    <div class="toolbar bottom"></div>
  </div>
</div>