
<div id=""	class="white scroll-auto col-xs-12 col-md-4 full-height">
	<br>
	<div id="rgStation">
		<div class="clearfix">
			<button class="btn" id="back">
						<span class="reneco reneco-back"></span>
						&nbsp;
						<span data-i18n="button.back">Back</span>
			</button>

			<div id="navbar" class="pull-right"></div>
		</div>
		<br>
		<div id="stationForm"></div>
		<br>
		<div id="stationFormBtns"></div>
	</div>
	<br>
</div>

<div id="rgProtos" class="col-xs-12 col-md-8 full-height dark">
	<br>
	<div class="clearfix">
		<div class="col-xs-6 no-padding">
			<select name="" id="protoList" class="form-control"></select>
		</div>
			<button id="addProto" class="btn btn-success pull-left">
				<span class="reneco reneco-add"></span>
			</button>
		<div class="pull-right">
			<legend>Total observation : <span id="total">0</span></legend>
		</div>
	</div>
	<br>
	<div id="accordionContainer"></div>
</div>
