
Front/bower_components/*
Front/node_modules/*
Front/build/*
Front/app/styles/main.css
Front/app/styles/main.css.map

**/*.css
**/*.css.map

**/config.js

**/*.pyc
**/*.ini
**/*.egg-info
**/*.egg-info/*
**/*.egg
*.css
*.css.map
