#ENV's files ignored
.vscode/
erdenv
mandatory/*
logs/*
**/*.rar
back/env

#BACK's files ignored
Back/build/
Back/init.txt
Back/ecoReleve_import/*
**/*.pyc
**/*.ini
**/*.egg-info
**/*.egg-info/*
**/*.egg

#FRONT's files ignored
Front/bower_components/*
Front/node_modules/*
Front/build/*
Front/package-lock.json
npm-debug.log
**/*.css
**/*.css.map
**/config.js
