<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
                <rule name="ReverseProxyInboundRule3" stopProcessing="true">
                    <match url="^eco/(.*)" />
                    <action type="Rewrite" url="http://192.168.1.17:6543/ecoReleve-Core/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule1" enabled="false" stopProcessing="true">
                    <match url="^eco/(.*)" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="http://127.0.0.1:6543/ecoReleve-Core/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
