header{
	background: @header-bg;
	z-index: 10;
	color: white;
	position: fixed;
	width: 100%;
	max-height: 50px;
	font-weight: 400; 
	a#logout{
		cursor: pointer;
	}
	a{
		transition: all .1s;
	}

	nav.navbar{
		margin: 0px;
		border: none;
	}
	.nav > li > a{
		color: white;
		&:focus, &:hover{
			background: @header-hover;
			color: white;
		}
	}
	.navbar-brand{
		color: white;
		&:focus, &:hover{
			background: @header-hover;
			color: white;
		}
	}
	#header-loader{
		svg{
			rect {
				fill: white;
			}
		}
	}

	.dropdown.open{
		&>a{
			background: @header-bg;
			&:hover, &:focus{
				background: @header-hover;
			}
		}
		ul.dropdown-menu{
			background: @header-bg;
			border: none;
			& a{
				color: white;
				&:hover, &:focus{
					background: @header-hover;
				}
			}
		}
	}
<<<<<<< HEAD
=======
}

@media (max-width: 768px){
	header{
		.navbar-nav{
			float: left;
			margin: 0;
		}
		.navbar-nav > li > a {
		    padding-top: 15px;
		    padding-bottom: 15px;
		}
		.navbar-nav > li {
		    float: left;
		}
		.navbar-right {
		    float: right !important;
		    margin-right: -15px;
		}
}
>>>>>>> c736a1259dfed9e43e5cf39f2f5799e74964caca
}
