.app{
	background: url(./img/bg-home.jpg) center center no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;


	canvas{
		margin:0 !important;
		opacity: 0.9;
		transition: .5s opacity ease;
		position: relative;
		left: -20px;
		&:hover{
			opacity: 1;
		}
	}
	h2{
		font-size: 30px;
	}
}


@media screen and (min-width: @screen-sm) and (max-width: 1199px){
	.home-page{

		.container{
			width: 750px!important;
		}		
		div.wrapper{
			width: 515px;
			margin: 0 auto;
		}
		.tile{
			&.first{
				margin-left: 15px;
			} 
			&.last{
				margin-left: 15px;
			}
		}
	}
}


@media screen and (max-width: @screen-sm){
	.home-page{

		.wrapper{
			width: 100%;
		}

	}
}
