
<div class="container">
	<div class="center-block full-height clearfix">
		<a href="#validate/rfid" class="tile small_tile tile-pomegranate">
			<p>
				<i class="reneco reneco-import"></i>
				<span>RFID</span>
			</p>
		</a>
		<a href="#validate/gsm" class="tile small_tile tile-pomegranate">
			<p>
				<i class="reneco reneco-import"></i>
				<span>GSM</span>
			</p>
		</a>
		<a href="#validate/argos" class="tile small_tile tile-pomegranate">
			<p>
				<i class="reneco reneco-import"></i>
				<span>Argos</span>
			</p>
		</a>
		<div class="clear"></div>
	</div>
</div>
