
<div class="clearfix full-height white">
	<div class="col-md-12 full-height toolbar top">
				<button id="back" class="btn pull-left col-">
					<i class="reneco reneco-back"></i>
					Back
				</button>
				<legend class="inherit">Sampling rate</legend>
				<div class="col-xs-3">
					<select id="frequency" class="form-control">
						<option value="none" disabled selected>Rate selection</option>
						<option value="all">all</option>
						<option value="10">10 min</option>
						<option value="15">15 min</option>
						<option value="30">30 min</option>
						<option value="60">60 min</option>
						<option value="120">120 min</option>
					</select>
				</div>

			<button id="autoValidate" class="btn btn-success pull-right">
				Validate
			</button>
			<legend class="clearfix pull-right inherit">
				<span class="pull-right text-right">Sensors to validate: 
					<span id="totalEntriesType"></span>
				</span>
			</legend>
		</div>

		<div class="crop1 crop-paginator">
		<br>
		<div id="grid"></div>
		</div>
		<div id="paginator"></div>
	</div>
</div>

<div id="detail" class="hidden detail full-height"></div>
