

<div class="clearfix text-center">
<br><br><br>
<h3 class="text-center">Data validation</h3>
<h4>Please choose a data type to validate</h4>
<br><br>
		<a href="#validate/rfid" class="tile-inside text-center not-radio">
				<i class="reneco reneco-rfid_format icon-five "></i>
				<br>
				<span>RFID</span>
		</a>
		<a href="#validate/gsm" class="tile-inside text-center not-radio">
				<i class="reneco reneco-gsm_format icon-five "></i>
				<br>
				<span>GSM</span>
		</a>
		<a href="#validate/argos" class="tile-inside text-center not-radio">
				<i class="reneco reneco-argos_format icon-five"></i>
				<br>
				<span>Satellite</span>
		</a>
		<div class="clear"></div>
</div>
