<div class="vignette ">
  <div class="camtrapItemViewHeader" <% if (stationId===null) { %> style="display : none" <% } %>>
    <i class="reneco icon-two reneco-stations"></i>
  </div>
  <div class="camtrapItemViewContent">
    <input id="rating_<%=id%>" name="input-name" type="number" class="rating" value="<%= note %>" >
    <img id="zoom_<%=id%>" src =.<%= path %>thumbnails/<%= name %> tabindex="<%=id%>" alt="<%= name %>" data-zoom-image="<%= path %><%= name %>" />
      <div class="dateexif text-center"><%= date_creation %></div>
  </div>
  <div class="camtrapItemViewFooter" style="display : none">
  </div>
</div>
