

<div class="full-height col-sm-6">
	<div class="toolbar clearfix">
		<br>

		<button id="hideDetail" class="btn pull-left">
			<i class="reneco reneco-back"></i>
			Back
		</button>

		<div class="pull-right">
			<div id="navbar"></div>
		</div>

	</div>
	<br>

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#individual" aria-controls="individual" role="tab" data-toggle="tab">Individual details</a></li>
			<li role="presentation"><a href="#sensor" aria-controls="sensor" role="tab" data-toggle="tab">Sensor details</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="individual">
				<div id="indForm"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="sensor">
				<div id="sensorForm"></div>
			</div>
		</div>

	<br>
	<div class="clearfix">
		<button id="validate" class="btn btn-success pull-right">Validate</button>
		<span class="pull-left">Sampling frequency : </span>
		
		<div class="col-xs-4">
			<select name="" id="frequency" class="form-control pull-left">
			<option value="all">All</option>
			<option value="10">10 min</option>
			<option value="15">15 min</option>
			<option value="30" >30 min</option>
			<option value="60">60 min</option>
			<option value="120">120 min</option>

			</select>
		</div>
			
	</div>
	<br>
	<div id="grid"></div>
</div>
<div class="full-height col-sm-6 no-padding">
	<div id="map"></div>
</div>
