<div class="full-height no-padding">
  <div class="toolbar top clearfix">
    <button id="hideDetail" class="btn pull-left">
      <i class="reneco reneco-back"></i>
      Back
    </button>

    <div class="pull-right">
      <div id="navbar"></div>
    </div>

  </div>


  <div class="col-md-3 crop2">
    <br>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#site" aria-controls="site" role="tab" data-toggle="tab">Site details</a></li>
      <li role="presentation"><a href="#sensor" aria-controls="sensor" role="tab" data-toggle="tab">Sensor details</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="site">
        <div id="siteForm"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="sensor">
        <div id="sensorForm"></div>
      </div>
    </div>
  </div>

  <div id="gallery" class="col-md-9">
  </div>
  <div id="tabTools" class="col-md-9">
    bla bla bla bla bla
    
  </div>

</div>
