  <div id="tags" class="col-md-8">
    <input id="tagsInput" type="text" value="" class="pull-left" data-role="tagsinput" />
  </div>
  <div class="actions col-md-4">
    <div id="delete" class="col-md-3 text-center">
      <span class="reneco reneco-close"></span>
    </div>
    <div id="starsAction" class="col-md-6 text-center">
      <div id="increaseStars" class="col-md-6">
        <span class="reneco reneco-chevron_top"></span>
      </div>
      <div id="decreaseStar" class="col-md-6">
        <span class="reneco reneco-chevron_bottom"></span>
      </div>
    </div>
    <div id="delete" class="col-md-3 text-center">
      <span class="reneco reneco-checked"></span>
    </div>
  </div>
