<i class="reneco reneco-ECOL-ecollectionsmall icon-two active"></i>
<i class="reneco reneco-image_file icon-two"></i>
<i class="reneco reneco-list icon-two hide"></i>
<span id="infossession" class="allphotos selected"><span id="nbphotos">0</span> <span>images to validate</span></span>
<span> ( </span>
<span id="js_accepted_top" class="accepted"><span id="nbphotosaccepted"> 0</span> </span>
<span id="js_refused_top"class="refused"><span id="nbphotosrefused"> 0</span> </span>
<span id="js_checked_top"class="checked"><span id="nbphotoschecked"> 0</span> </span>
<span id="js_notchecked_top" class="notchecked"><span id="nbphotosnotchecked"> 0</span> </span>
<span><span> )</span></span>
