<i class="reneco reneco-ecollectionsmall icon-two"></i>
<i class="reneco reneco-image_file icon-two"></i>
<i class="reneco reneco-list icon-two"></i>
<span><span id="nbphotos">0</span> images to validate (</span>
<span class="accepted"><span id="nbphotosaccepted"> 0</span> </span>
<span class="refused"><span id="nbphotosrefused"> 0</span> </span>
<span class="checked"><span id="nbphotoschecked"> 0</span> </span>
<span class="notchecked"><span id="nbphotosnotchecked"> 0</span> </span>
<span> )</span>
