  <div id="tags" class="col-md-6">
    <input id="tagsInput" type="text" value="" placeholder="Add Tags..." class="pull-left form-control" data-role="tagsinput" />
  </div>
  <div class="actions">
    <div id="refused">
      <i id="refusedBtn" class="btn"><span class="reneco reneco-close"></span></i>
    </div>
    <div id="checked">
      <i id="checkedBtn" class="btn"><span class="reneco reneco-support"></span></i>
    </div>
    <div id="accepted">
      <i id="acceptedBtn" class="btn"><span class="reneco reneco-checked"></span></i>
    </div>
  <!--  <div id="mouvementAction">
      <div id="leftMouvement">
        <i id="leftMouvementBtn" class="btn"><span class="reneco reneco-back2"></span></i>
      </div>
      <div id="rightMouvement">
        <i id="rightMouvementBtn" class="btn"><span class="reneco reneco-play"></span></i>
      </div>
    </div> -->
  </div>
  <button id="validate" class="btn btn-success pull-right">Validate</button>
