  <div id="tags" class="col-md-8">
    <input id="tagsInput" type="text" value="" class="pull-left form-control" data-role="tagsinput" />
  </div>
  <div class="actions">
    <div id="refused">
      <button id="refusedBtn" class="btn"><span class="reneco reneco-close"></span></button>
    </div>
    <div id="starsAction">
      <div id="increaseStars">
        <button id="upStarsBtn" class="btn"><span class="reneco reneco-chevron_top"></span></button>
      </div>
      <div id="decreaseStar">
        <button id="downStarsBtn" class="btn"><span class="reneco reneco-chevron_bottom"></span></button>
      </div>
    </div>
    <div id="accepted">
      <button id="acceptedBtn" class="btn"><span class="reneco reneco-checked"></span></button>
    </div>
  </div>
