
<div class="col-md-12 full-height toolbar top">
		<a class="btn pull-left" href="#validate">
				<span class="reneco reneco-back"></span>
				&nbsp;
				<span data-i18n="button.back">Back</span>
		</a>
		<% if (type_==='camtrap') { %> 
			<legend class="clearfix pull-right inherit">
					<span class="pull-right text-right">Session(s) to validate: 
						<span class="js-total-records"></span>
					</span>
				</legend>
		<% } else { %>
				<legend class="inherit">Sampling rate</legend>
				<div class="pull-left col-xs-3">
				<select class="js-select-frequency form-control">
					<option value="none" disabled>Rate selection</option>
					<option value="all">all</option>
					<option value="10">10 min</option>
					<option value="15">15 min</option>
					<option value="30">30 min</option>
					<option value="60" selected = "selected">60 min</option>
					<!-- <option value="120">120 min</option> -->
				</select>
				</div>

		<button class="js-btn-auto-validation btn btn-success pull-right">
			Validate
		</button>
		<legend class="clearfix pull-right inherit">
			<span class="pull-right text-right">Sensors to validate: 
				<span class="js-total-records"></span>
			</span>
		</legend>
		<% } %>
	</div>

	<div class="crop1 js-rg-grid col-xs-12 no-padding">
		<div class=""></div>
	</div>
</div>
