<div class="col-xs-12">
	<br>
	<legend for="file" data-i18n="import.fileSelection">select a file</legend>
	<div id="btnFileSelection">

		<input type="file" class="required" name="FileInput"  id="FileInput"></input>

		<input type="text" disabled class="required" name="FileName" value="" id="FileName" style="display:none;"></input>
		<br/>
		<div id="importLoadingMessage">

			<p id="importGpxMsg" data-i18n="import.fileSelectionMsg">Please select a file exported from your GPS in GPX format.</p>
		</div>
		<br/>
		<div  id="importSelectGlobalActivity" style="display:none;">
			<legend for="importFieldActivity" class="col-sm-12 control-label" data-i18n="import.globalFieldActivity">Global field activity</legend>
			<div class="col-xs-10">
				<select id="importFieldActivity" name="importFieldActivity" value="" class="form-control">
					<option value=""></option>
					
					<!-- <option value="Aerial radio-tracking">Aerial radio-tracking</option>
					<option value="Anthropogenic impacts">Anthropogenic impacts</option>
					<option value="Automatic data acquisition">Automatic data acquisition</option>
					<option value="Automatic radio scanning">Automatic radio scanning</option>
					<option value="Battue">Battue</option>
					<option value="Bird trapping">Bird trapping</option>
					<option value="Camera - trapping">Camera - trapping</option>
					<option value="Chiroptera survey">Chiroptera survey</option>
					<option value="Display site confirmation">Display site confirmation</option>
					<option value="Display specific studies">Display specific studies</option>
					<option value="Displaying male radio-tracking">Displaying male radio-tracking</option>
					<option value="Displaying male search">Displaying male search</option>
					<option value="Driving">Driving</option>
					<option value="Entomocenotic relevé">Entomocenotic relevé</option>
					<option value="General vertebrate contact">General vertebrate contact</option>
					<option value="Ground radio-tracking">Ground radio-tracking</option>
					<option value="Houbara Circular Observation">Houbara Circular Observation</option>
					<option value="Houbara line transect">Houbara line transect</option>
					<option value="Houbara Standardized Circular Observation">Houbara Standardized Circular Observation</option>
					<option value="Individual rehabilitation">Individual rehabilitation</option>
					<option value="Invertebrates biomass survey">Invertebrates biomass survey</option>
					<option value="Invertebrates inventory">Invertebrates inventory</option>
					<option value="Invertebrates monitoring">Invertebrates monitoring</option>
					<option value="Irrigated fields monitoring">Irrigated fields monitoring</option>
					<option value="Mammal trapping">Mammal trapping</option>
					<option value="Microchip scanning">Microchip scanning</option>
					<option value="Nest monitoring">Nest monitoring</option>
					<option value="Passerines count">Passerines count</option>
					<option value="People inquiry">People inquiry</option>
					<option value="Phytosociological relevé">Phytosociological relevé</option>
					<option value="Plants inventory">Plants inventory</option>
					<option value="Radio-scanning point">Radio-scanning point</option>
					<option value="Ranger count">Ranger count</option>
					<option value="Release">Release</option>
					<option value="Reptile trapping">Reptile trapping</option>
					<option value="Ungulates line transect">Ungulates line transect</option>
					<option value="Ungulates Standardized Circular Observation">Ungulates Standardized Circular Observation</option>
					<option value="Vegetation biomass survey">Vegetation biomass survey</option>
					<option value="Vegetation monitoring">Vegetation monitoring</option>
					<option value="Vertebrate death">Vertebrate death</option>
					<option value="Waterfowl count">Waterfowl count</option> -->
				</select>
			</div>
			<div class="col-xs-2 no-padding">
			<button id="resetFieldActivity" type="button" class="btn btn-default" data-i18n="button.reset"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reset</button>
		</div>
		</div>


	</div>
</div>
