div.bootstrap-tagsinput{
    background-color: #373737 !important;
    border: 0.3px solid #979797 !important;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5) !important;
    color: white;
    font-size: 20px;

    .label{
      background-color: #909090 !important;
      color: white !important;
    }
    .tag [data-role="remove"]:hover{
      background-color: red;
    }
}

.popover{
  width: 100%!important; // Max Width of the popover (depending on the container!)
  height: 100%!important;
  max-width: 100%!important;
  max-height: 100%!important;
  left:0px !important;
  top:0px !important;
  margin: 0!important;
  padding: 0!important;
  border: 0 !important;

  .popover-content{
    //display: flex !important;
    width: 100%;
    height: 100%;
    background-color: #434343;
    img{
      display: block;
      margin: auto auto;
      max-width: 90%;
      max-height: 90%;
    }
    .popover-header{
      text-align: right;
      span {
        color: white;
        padding: 0px 10px 0px 10px;
        border-radius: 10px;
      }
      span.accptd{
        background-color: #39b34a;
      }
      .accptd:before{
        font-family: 'reneco' !important;
        content: "\e62a";
        position:relative;
        height: 20px;
        width: 20px;
        font-size: 80%;
        line-height: 20px;
        /*border-radius: 10px;
        background-color: #39b34a;*/
      }
      span.rfsd{
        background-color: #f00;
      }
      .rfsd:before{
        font-family: 'reneco' !important;
        content: "\e65e";
        position:relative;
        height: 20px;
        width: 20px;
        font-size: 80%;
        line-height: 20px;
        /*border-radius: 10px;
        background-color: #39b34a;*/
      }
      span.chckd{
        background-color: #666;
      }
      .chckd:before{
        font-family: 'reneco' !important;
        content: "\e912";
        position:relative;
        height: 20px;
        width: 20px;
        font-size: 80%;
        line-height: 20px;
        /*border-radius: 10px;
        background-color: #39b34a;*/
      }
    }
    .popover-footer{
      color: white;
      text-align: center;
    }
  }

}

#gallery{
  background-color: #434343;
  padding: 20px;

  .imageCamTrap{
    margin: 0;
    padding: 0;
    position : relative;
    height : 25%;


    .vignette{
      border-radius : 10px;
      background-color: #3d3d3d;
      height : 96%;
      width: 96%;
      /*.camtrapItemViewHeader{
        height: 15%;
        .rateit{
          float:left;
          top: 4px;
          left: 15px;
        }
      }*/
      .camtrapItemViewContent{
        height: 80%;
        img{
          position: relative;
          border-radius: 8px;
          top:0;
          //left:0;
          padding-left: auto;
          padding-right: auto;
          max-width: 100%;
          max-height: 100%;
          /*  position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          transform: translate(-50%, -50%);*/
        }
        i{
          position:absolute;
          font-size: 1.2vw !important;
          top:0px;
          right:7px;
          height: 28px;
          width: 28px;
          border-radius: 14px;

        }
        i.reneco-hidden{
          color : white;
        }
        i.reneco-checked{
          color : green;
        }
        i.reneco-close{
          color : red;
        }
        i.reneco-support{
          color : white;
        }
        i.reneco-support::before{
          color : white;
          content: '?';
        }

      }
      .camtrapItemViewFooter{
        height: 20%;
        padding: 0;

        .rating-xs {
          font-size: 0.8vw;
        }

        div.dateexif{
          position:absolute;
          bottom: 10px;
          padding-left: 10px;
          color: white;
          font-size: 10px;
          font-weight: 300;
          line-height: 10px;
        }
      }
    }
    .active{
      border: 1.5px solid #39b34a;
      border-radius: 8px;
    }
  }
  /*.accepted:before{
    font-family: 'reneco' !important;
    content: "\e62a";
    display: block;
    float:right;
    position:relative;
    color: white;
    top: 4px;
    right: 15px;
    height: 20px;
    width: 20px;
    font-size: 80%;
    line-height: 20px;
    border-radius: 10px;
    background-color: #39b34a;
  }

  .refused:before{
    font-family: 'reneco' !important;
    content: "\e65e";
    display: block;
    float:right;
    position:relative;
    color: white;
    top: 4px;
    right: 15px;
    height: 20px;
    width: 20px;
    font-size: 80%;
    line-height: 20px;
    border-radius: 10px;
    background-color: #f00;
  }
  .checked:before{
    font-family: 'reneco' !important;
    content: "\e912";
    display: block;
    float:right;
    position:relative;
    color: white;
    top: 4px;
    right: 15px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    //background-color: #f00;
  }*/
  #nbphotosnotchecked{
    color : white;
  }
  .notchecked:before{
    font-family: 'reneco' !important;
    content: "\e644";
    display: block;
    float:right;
    position:relative;
    color: white;
    top: 4px;
    right: 15px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 10px;
    //background-color: #f00;
  }
}

.paginatorCamTrap {
  max-height: 45px;
  background-color: #434343;
  .infosfullscreen{
    color: white;
    text-align: center;
    span{
      float : right;
      margin-right: 20px;
    }
  }
  .backgrid-paginator {
    ul {
      color:#666;
      li {
        a {
          color:#666;
        }
        a:hover {
          background-color: #373737;
          border-radius: 5px;
          color:#666;
        }
      }
      li.active {
        a {
          background-color: #373737;
          border-radius: 5px;
          color: white;
        }
      }
      li.disabled {
        visibility: hidden;
      }
    }
  }
}
.indexposition{
  float : right;
  padding-right: 50px;
}

.camTrap.toolbar.top{
  //border:0;
  background-color: #3d3d3d;
  border-bottom-color: #606060;
  box-shadow: 0px 1px 17px 0px rgba(107, 107, 107, 0.5);
  border-bottom: 1px solid #ddd;
}
*:focus {
  outline: none;
}
