
fieldset{
	border: 1px solid #e5e5e5;
	padding: 15px 0px;
	margin-top: 0px;
	width: 100%;
	&>div{
		margin-bottom: 10px;
	}
	legend{
		margin: 0px 5px;
		padding: 10px 10px;
	}
	label{
		display: block;
	}
}
legend{
	width: auto;
	padding: 0px 10px;
	margin: 10px 0px;
	border: none;
	&.inherit{
		width: auto;
		float: left;
	}
}
label{
	margin: 0px;
	font-weight: 300;
}
textarea.form-control{
	height: 34px;
	&:disabled{
		resize: none;
	}
}

input, select, textarea{
	font-weight: 600;
	&.required{
		border-bottom: 1px solid rgba(255, 165, 0, 0.5);
	}
}

.form-control:disabled{
	border: 1px solid transparent;
	box-shadow: none;
	//background: transparent;
	//padding-left: 0px;
}

input.form-control[type=number]:disabled::-webkit-inner-spin-button, 
input.form-control[type=number]:disabled::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

select:disabled {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.form-control{
	padding: 5px 10px;
	font-weight: 600;
}

.form-control[type="checkbox"]{
	box-shadow: none;
	height: 34px;
	width: 25px;
	cursor: pointer;
	margin: 0px;
}
.form-control[disabled], fieldset[disabled] .form-control{
	cursor: auto;
	background: rgba(150,150,150,0.1);


}

.input-group .form-control {
	z-index: inherit;
}

.nested-model{
	ul fieldset{
		padding: 0px;
		margin: 0px;
		border: none;
		&>div{
			//margin-bottom: 0px; ?why?
		}
	}
}


.nav-tabs{
	border: none;
	li{
		a{
			cursor: pointer;
			color:#3A3939;
			background: transparent;
			border: 0px;
			border-bottom: 2px solid #ddd;
			&:hover, &:visited{
				cursor: pointer;
				color:#3A3939;
				background: transparent;
				border: 0px;
				border-bottom: 2px solid #ddd;
			}
		}
		&.active, &.activeTab{
			a{
				cursor: pointer;
				border: 0px;
				border-bottom: 2px solid #3A3939;
				&:hover, &:focus{
					cursor: pointer;
					border: 0px;
					border-bottom: 2px solid #3A3939;
					background: transparent;
				}
			}
		}
	}
}

.ui-autocomplete{

	position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    max-height: 350px;
    overflow-y: auto;
    z-index: 100000;
}









.error{
	//works only for required classes
	//select.required, input.required, textarea.required{
		border-left: 5px solid @error;
	//}
}
.list-inline {
    margin-left: 0px;
}

.list-group-item{
	&:hover{
		background: rgba(68, 157, 68, 1);
		color: white;
		border: 1px solid #dddddd;
	}
	&.active{
		color: white;
		background: rgba(68, 157, 68, 1);
		border: 1px solid #dddddd;
		&:hover{
			background: rgba(68, 157, 68, 1);
			color: white;
			border: 1px solid #dddddd;

		}
	}
}


.nested{
	fieldset{
		margin-top: 20px;
		background: rgba(100, 100, 100, 0.1);
		.control{
			margin: 0px;
		}
	}
}


/* CSS 2 PIER 
*
*  A mettre dans les bons fichiers CSS
*
Bouton*/
/* .panel-heading .btn-prevent-collapse {
	padding: 25px 20px 3px 12px;
}
.btn-success{
	position: relative;
    padding: 6px 40px 6px 12px;
}
div#stationForm button.btn-success{
	padding: 23px 20px 6px 12px;
}
.btn-success .reneco {
    position: absolute;
    height: 100%;
    left: auto;
    right: 0;
    border-radius: 0;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    box-shadow: 1px 0 0 0 transparent inset;
    width: 2.57142857em;
    background-color: rgba(0,0,0,.05);
    top: 0;
    line-height: 30px;
} */
/* Formulaires
dans les stations enlever les class "list-inline" des select */


div.form-control{
  height: auto;
}

/* Thesaurus */
span.fancytree-title {
	font-family: 'Exo 2', sans-serif;
}
span.fancytree-title:hover {
	background: linear-gradient(to bottom, rgba(46, 204, 64, 0.1) 0%, rgba(46, 204, 64, 0.3) 100%) !important;
	-webkit-background: linear-gradient(to bottom, rgba(46, 204, 64, 0.1) 0%, rgba(46, 204, 64, 0.3) 100%) !important;	
}
ul.fancytree-container{
  z-index: 1;
	border:0;
  max-height: 500px;

}
div.fancytreeview{
	//input-group : diplsay table cell
  top: 34px!important;
	position: absolute;
	border: 1px solid rgba(46, 204, 64, 0.6) !important;
}
/* 
Dans detail station, bloc "Detailled Infos", en mode edit : 
 - Ajouter une class sur une div contenant le bloc qui change de statut pour indiquer le mode "edit" sinon ce n'est pas possible de différencier les styles
 - Pour avoir la croix à côté de la liste déroulante, il faut change le template de listeoFnestedModel comme sur ecollection. Avoir le bouton "x" dans un col-md-2 et le select dans col-md-10
 */
/* FIN PIER */



.grid-form{
	overflow: auto;
	#formContainer{
		display: block;
	}
	fieldset:nth-child(2n){
		background: rgba(221, 221, 221, 0.3);
	}
	fieldset{
		background: #eee;
		border: none;
		border-bottom: 1px solid #ddd;
		padding: 0px;
		margin: 0px!important;

		&>div{
			padding: 0px;
			margin: 0px;
		}
		& label{
			display: none!important;
		}
/*
		input{
			border-radius: 0px;
			padding: 8px 5px;
		}*/
	}

	.form-control[disabled] {
		cursor: auto;
		background: transparent;
	}

	#th{
		background: #ccc;
		div{
			padding: 4px 5px!important;
			font-weight: bold;
			text-transform: uppercase;
			padding: 0px;
			margin: 0px;
		}
	}

	
	.control{
		width: auto;
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
		width: 170px;
	}

}



