form{
	.required{
		border-bottom: 1px solid orange;
	}
	.error{
		border-left: 1px dashed red;
	}
	.form-control:disabled{
		border: 1px solid transparent!important;
		background: transparent!important;
		box-shadow: none!important;
	}
}
