.backgrid-container{
	height: auto;
	min-height: 500px;
}
.backgrid th.renderable, .backgrid td.renderable{
	text-align: left;
}

.backgrid-paginator ul>li>a, .backgrid-paginator ul>li>span{
	height: auto;
	width: auto;
	padding: 0px 10px;
}

.grid-auto{
	overflow: auto;
}




table.backgrid{

	thead{
		background: #ccc;
		tr:hover{
			background: #ccc;
		}
	}
	th{
		background: transparent;
		text-transform: uppercase;
	}
	tbody{
		tr{
			border-bottom: 1px solid rgb(221, 221, 221);
		}
		td{
			border: 0px;
		}
	}
	tr{

		transition: .05s all;
		&:nth-child(2n){
			background: rgba(221, 221, 221, 0.3);
		}
		cursor: pointer;
		&:hover{
			background: #ccc;
		}
		&.active{
			background:rgba(255, 165, 0, .5)!important;
		}
	}
	td{
		padding: 8px 5px;
	}
	a{
		color: inherit;
	}
}

.backgrid-paginator{
	ul{
		padding: 0px;
		li{
			curor: pointer;
		}
	}
}


.full-border{
	table.backgrid{
		td{
			border: 1px solid #B1B1B1 ;
		}
		tr{
			&.active{
				td{
					//border: 1px solid white ;
				}
			}
		}
	}
}

.enhanced-grid{
	table.backgrid{
		th{
			padding: 10px 0px !important;
		}

		thead{
			background: transparent;
		}
	}
}
/* .dark table.backgrid{
	color: #C0C0C0;
	th a{
		color: #C0C0C0;
	}
}
.paginator.dark {
	color: white;
} */
.paginator.dark ul>.active>a, .paginator.dark a:hover {
	color: black;
}

.grid-padding{
	padding-left:15px;
	padding-right: 15px;
}

.select-row-cell {
	border: transparent !important;
	padding-left: 10px !important;
}

.select-all-header-cell input[type="Checkbox"] {
	transform: scale(1.5);
    padding-left: 10px;
    margin-left: 10px;
}

.fit-grid{
	    height: calc(~"100% - 180px");
    	overflow: auto;
}
.fit-filter{
	height: calc(~"100% - 150px");
    overflow: auto;
    &.with-tab{
		height: calc(~"100% - 205px");
    }
}

#grid.ns-fit{
	position: relative;
    height: 100%;
}

.ns-actions {
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding: 15px 0px;

    legend{ 
		margin:0;
    }
    button{
    	height:30px;
    	margin-right:10px;
    }
}
