.backgrid-container{
	height: auto;
	min-height: 500px;
}
.backgrid th.renderable, .backgrid td.renderable{
	text-align: left;
}

table.backgrid{
	th{
		background: transparent;
		text-transform: uppercase;
	}
	tr{
		cursor: pointer;
		&.active{
			background: #dff0d8;
		}
	}
	td{
		padding: 8px 5px;
	}
	a{
		color: inherit;
	}
}



.dark table.backgrid{
	color: #C0C0C0;
	th a{
		color: #C0C0C0;
	}
}
.paginator.dark {
	color: white;
}
.paginator.dark ul>.active>a, .paginator.dark a:hover {
	color: black;
}

