/*==========  tmp  ==========*/

.info.map-legend{
	padding: 20px;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	z-index: 10;
	right: 0px;
	margin: 25px;
	border-radius: 3px;
}

/*==========  end tmp  ==========*/



#map, .ns_map, .ns-map{
	position: relative;
	min-height: 500px;
	height: 100%;
	width: 100%;
	overflow: hidden !important;


	.leaflet-control{
		margin: 30px;
	}
	
	.errorLayer{
		position: absolute;
		width: 100%;
		height: 66px;
		bottom: 0;
		z-index: 10000;
		text-align: center;
		border-top: 1px dashed white;
		background: rgba(0,0,0,0.5);
		padding: 10px;
		legend{
			color: white;
			font-weight: 300;
			font-family: 'Exo 2', sans-serif;
		}
	}
}

.map-encart{
	&.right{
		right: 0;
	}
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100000;
	color: white;
	bottom: 0;
	top: 0;
	& .map-legend{
		&.marker{
			display: block;
			height: 15px;
			width: 15px;
			border-radius: 100%;
			float: left;
			margin: 1px 10px;
			&.current{
				background: green;
				border: 2px solid white;
			}
			&.old{
				background: rgba(0, 153, 255, 1);
				border: 2px solid white;
			}
		}
	}
	#grid{
		position: absolute;
		bottom: 50px;
		width: 100%;
	}
}

.map.controls-custom{
	.ol-control.ol-zoom{
		left: 35%;
		top: 2em;
		z-index: 1000;
	}
}


.leaflet-map-pane{
	z-index: 1000;
}



/*==========  Leaflet cluster/marker design  ==========*/

.leaflet-marker-icon{
	color: white;
}
.marker-cluster{
	border-radius: 50%;
	border: 2px solid white;
	text-align: center;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	span{
		font-size: 11px!important;
		line-height: auto;
	}
}

@m-size-sm: 35px;
@fz: 5px;
@blue1 : rgba(51, 153, 204, 0.8);
@blue2: rgba(41, 124, 166, 0.8);
@blue3: rgba(32, 96, 128, 0.8);
@blue4: rgba(22, 67, 89, 0.8);
.marker-cluster-small {
	background-color: @blue1;
	span{
		line-height: @m-size-sm - @fz;
	}
}
@m-size-md: 45px;
.marker-cluster-medium{
	background-color: @blue2;
	span{
		line-height: @m-size-md - @fz;
	}
}
@m-size-md-lg: 55px;
.marker-cluster-medium-lg{
	background-color: @blue3;
	span{
		line-height: @m-size-md-lg - @fz;
	}
}
@m-size-lg: 65px;
.marker-cluster-large{
	background-color: @blue4;
	span{
		line-height: @m-size-lg - @fz;
	}
}

.marker-cluster-contains{
	background: rgba(255, 0, 0, 0.4);
}


@keyframes focus{
	0% {border: 2px solid rgba(255, 165, 0, .8);}
	100% {border: 2px solid white;}
}

.marker{
	border-radius: 50%;
	border: 2px solid white;
	text-align: center;
	background: rgba(51, 153, 204, 1);
	&.marker-station{
		background: purple;
		border-radius: 0px;
	}
	&.marker-gps{
		background: rgba(51, 153, 204, 1);
	}
	&.marker-argos{
		background: orange;
	}
	&.selected{
		background: rgba(255, 0, 0 ,1);
		z-index: 1000000!important;
	}
	&.focus{
		z-index: 10000000!important;
		animation: focus .7s infinite;
	}
}

.info-legend{
	color: black;
	padding: 10px;
	transition: all .5s;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,1);
	border-radius: 3px;
	border: 1px solid #ccc;
	line-height: 18px;
	.marker{
		width: 12px;
		float: left;
		height: 12px;
		margin: 3px 0px;
		clear: left;
	}

}

.map-error{
	color: white;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	cursor: not-allowed;
	display: flex;
	justify-content: center;
	align-items: center;
	.msg{
		border: 1px dashed white;
		padding: 25px;
		background: rgba(0,0,0,.5);
		text-align: center;
	}
}

.leaflet-bottom{
	margin-bottom: 0px!important;
	transition: margin-bottom .1s ease;
}

.leaflet-bottom.active-player{
	margin-bottom: 150px!important;
}

.player{
	overflow: auto;
	padding: 15px 0px;
	height: 150px;
	background: white;
	border-top: 1px solid rgb(150,150,150);
	position: absolute;
	z-index: 1000;
	bottom: -150px;
	width: 100%;
	transition: bottom .1s ease;
	.custom-row{
		padding-bottom: 5px;
	}
	&.active{
		bottom: 0px;
	}
	.timeline{
		padding: 5px 15px;
		position: relative;
		overflow: hidden;
		.scale{
			width: 100%;
			height: 20px;
			position: relative;
			.note{
				border-left: 1px solid #aaa;
				font-size: 12px;
				position: absolute;
				padding: 2px;
				&.last{
					border-left: none;
					border-right: 1px solid #aaa;
				}
			}
		}
	}
	.timeline-total{
		position: relative;
		cursor: pointer;
		height: 15px;
		background: rgb(187, 185, 185);
		border: 1px solid rgb(150,150,150);
		width: 100%;	
	}
	.timeline-current{
		height: 100%;
		background: red;
		width: 0%;
	}
	label{
		padding: 5px;
		padding-right: 15px;
		cursor: pointer;
	}
	.range{
		padding-left: 0px;
		padding-top: 6px;
	}

}

.disabled-draw-control {
	cursor: default;
    // background-image: none !important;
    pointer-events: none;
    //padding-left: 1px;
}

a.leaflet-no-background{
	background-image: none !important;
	font-size: larger;
}
.leaflet-right{
	.leaflet-draw.leaflet-control{
		.leaflet-draw-section{

			.leaflet-draw-toolbar-nobottom {
				.leaflet-draw-toolbar-button-enabled{
					border-bottom-left-radius: 0;
					border-bottom-right-radius: inherit;
				}
			}

			.leaflet-draw-toolbar-notop {
				.leaflet-draw-toolbar-button-enabled{
					border-top-left-radius: 0!important;
					border-top-right-radius: inherit!important;

				}
				a:last-child{
					border-bottom-right-radius: inherit;
					
				}
			}
		}
	}
}
// input[type="range"]:before {
//   left: 5px;
//   content: attr(min);
//   position: absolute;
//   top: 20px;
//   color: rgb(170, 170, 170);
//   font-weight: 400;
// }

// input[type="range"]:after {
// 	right: 5px;
// 	content: attr(max);
//   position: absolute;
//   top: 20px;
//   color: rgb(170, 170, 170);
//   font-weight: 400;
// }
