.input-group-addon.picker{
  cursor: pointer;
}

.modal-outer{
  position: fixed;
  display: none;
  background: rgba(0,0,0,0.5);
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 10000;
  padding: 100px;

  .modal{
    display: block;
    position: relative;

    #creation,#creationContainer{
      z-index: 10;
    }
  }
}