//Tmp

.pannels-container{
	background: #2d2d30;
	overflow: hidden;  
	height: 100%;
	.pannel{
		position: absolute;
		right: -100%;
		transition: .5s all;
		&.active{
			right: 0;
		}
	}
}
.functions{
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 100;
}


.panel-group .panel + .panel{
	margin-top: 10px;
}

.panel-heading{
	padding: 0px;
	.panel-title{
		a{
			background: rgba(0,0,0,0.1);
			transition: .2s all;
			&:hover{
				background: rgba(0,0,0,0.3);
			}
			&:not(.collapsed){
				background: rgba(0,0,0,0.3);
			}
			padding: 20px;
			width: 100%;
			display: block;
			i.glyphicon{
				float: right;
				&:after { content: "\e114"; }
			}
			&.collapsed{
				i.glyphicon{
					float: right;
					&:after { content: "\e080"; }
				}	
			}
		}
	}
}
