//Tmp

.pannels-container{
	background: #2d2d30;
	overflow: hidden;  
	height: 100%;
	.pannel{
		position: absolute;
		right: -100%;
		transition: .5s all;
		&.active{
			right: 0;
		}
	}
}
.functions{
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 10000;
}


.panel-group .panel + .panel{
	margin-top: 10px;
}
.panel{
	border-radius: 5px;
	overflow: hidden;
	border: none;

}

.panel-heading{


	padding: 0px;
	.btn-prevent-collapse{
		position: absolute;
		right: 60px;
		bottom: 10px;
		border-radius: 50%;
		padding: 5px;
		font-size: 1.5em;
		line-height: 1em;
	}
	.panel-title{
		a{
			background: rgba(0,0,0,0.1);
			transition: .2s all;
			&:hover{
				background: rgba(0,0,0,0.3);
			}
			&:not(.collapsed){
				background: rgba(0,0,0,0.3);
			}
			padding: 20px;
			display: block;
			i.glyphicon{
				float: right;
				&:after { content: "\e114"; }
			}
			&.collapsed{
				i.glyphicon{
					float: right;
					&:after { content: "\e080"; }
				}	
			}
		}
	}
}
