.toolsBarCamTrap{
    .actions{

      #refused{
        #refusedBtn{
          background: #f00;
        }
      }

      #starAction{
        #increasesStars{
          #upStarsBtn{
            background: gray;          
          }
        }
        #decreaseStar{
          #downStarsBtn{
            background: gray;
          }
        }
      }

      #accepted{
        #acceptedBtn{
          background: #39b34a;
        }
      }

    }
}
