.toolbar{
}



.tooltipster-content {
    width: 250px;
    background-color: #E1E1E1!important;

}

    .tooltipster-content input {
        color: black;
        margin: 8px 5% !important;
        width: 80%;
    }

.tooltipList ul li:nth-child(odd) {
    //background-color: inherit!important;
    background-color: #F3F3F3!important;
}

.tooltipList ul li:hover {
    background-color: #CACACA!important;
}



.tooltipster-content li {
    padding-top: 10px!important;
    padding-left: 10px!important;
    height: auto!important;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

    .tooltipster-content li:after {
        left: 260px !important;
        position: absolute !important;
        transition: left 0.2s ease-in;
    }

    .tooltipster-content li:hover:after {
        left: 220px !important;
        position: absolute !important;
    }
.tooltipList {
	border: 2px solid #B1B1B1 !important;
    .tooltipster-content {
        padding: 0;
    }
    input {
        margin: 8px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
            padding-top: 3px;
            padding-bottom: 3px;
            font-size : 17px;
            color:#333333;
            &:nth-child(odd) {
                background-color : #F3F3F3;
            }
            &:nth-child(odd) {
                background-color : #FFFFFF;
            }
            &:after {
                content : "+";
                font-size : 20px;
                position: relative;
                left: 67%;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}
