.toolsBarCamTrap{

    .actionsBtn {
      display : flex;
      justify-content: space-between;
    }

    .actions{
      border-radius : 20px;
      //background-color: #2c2c2c;

      float : left;
      padding: 0;
      margin: 0;
      background-image: linear-gradient(180deg, #363636 0%, #222 50%, #414040 100%, #373737 100%);
      border: 0.3px solid #666;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      div {
        float : left;
        padding: 0;
        margin: 0;

      }
      i {
        padding: 0;
        margin: 0;
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }
      #refused{
        #refusedBtn{
          background: #f00;
          color : white;
        }
      }
      #checked{
        #checkedBtn{
          background: #666;
          color : white;
          .reneco-support::before{
            content: '?' !important;
          }
        }
      }
      #accepted{
        #acceptedBtn{
          background: #39b34a;
          color : white;
        }
      }

      #mouvementAction{
        #leftMouvement{
          .reneco{
            color: white;
          }
          #leftMouvementBtn{
            background: #666;
          }
        }
        #rightMouvement{
          .reneco{
            color: white;
          }
          #rightMouvementBtn{
            background: #666;
          }
        }
      }
      .reneco {
        line-height: 2!important;
      }


    }
    .actionsStations{
      border-radius : 20px;
      float : left;
      padding: 0;
      margin: 0;
      background-image: linear-gradient(180deg, #363636 0%, #222 50%, #414040 100%, #373737 100%);
      border: 0.3px solid #666;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      div {
        float : left;
        padding: 0;
        margin: 0;

      }
      i {
        padding: 0;
        margin: 0;
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }

      #createStationBtn {
        background-color: green;
      }
      #deleteStationBtn {
        background-color: red;
      }
      #editStationBtn {
        // background-color : black;
        background-color: #f0ad4e;
        border-color: #eea236;
      }
      #StationBtn {
        cursor: default !important;
      }
      .reneco {
        color: white;
        line-height: 2!important;
      }


    }
}
.toolsBarCamTrapTop{
  .camtrap-displayMode {
    display: inline;
  }
  .camtrap-filterSession {
    display: inline;
  //  font-weight: bolder;
    font-size: 20px;
    input[type="radio"] {
      transform: scale(1.2);
    }
      
    .allPhotos {
      padding-right: 20px;
       color: #909090;
    }
    .accepted {
      padding-right: 20px;
      color: #909090;
    }
    .refused {
      padding-right: 20px;
      color: #909090;
    }
    .notChecked {
      padding-right: 20px;
      color: #909090;
    }
    .stationed{
      padding-right: 20px;
      color: #909090;
    }
  }
  .selected{
    // border: 1.5px solid #39b34a;
    // border-radius: 8px;
    // text-decoration: underline;
    font-weight: bold !important;
    color: #39b34a !important;
  }
  i{
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
    margin-right: 6px;
  }
  .reneco{
    width: 28px;
    height: 24px;
    background-color: #434343;
    border: 1px solid #666;
    border-radius: 4px;
    color : #909090;
  }
  .reneco-ecollectionsmall::before{
    font-size: 70%;
    vertical-align: 23%;
    padding-left: 3px;
    padding-right: 3px;
  }
  .active{
    color : #39b34a;
  }
  // span{
  //   color: #909090;
  //   font-size: 26px;
  //   font-weight: 500;
  //   line-height: 30px;
  //   position:relative;
  // }
  span#infossession{
    margin-left: 20px;
  }
  #infossession:hover,#js_accepted_top:hover,#js_accepted_top:hover,#js_refused_top:hover,#js_checked_top:hover,#js_notchecked_top:hover{
    background-color: #666;
  }
  // #nbphotosaccepted{
  //   color : green;
  // }
  #infossession{
    cursor: pointer;
  }
  #js_accepted_top{
    cursor: pointer;
  }
  #js_refused_top{
    cursor: pointer;
  }
  #js_checked_top{
    cursor: pointer;
  }
  #js_notchecked_top{
    cursor: pointer;
  }
  #js_stationed_top{
    cursor: pointer;
  }
  // .accepted:before{
  //   font-family: 'reneco' !important;
  //   content: "\e62a";
  //   position:relative;
  //   color: #39b34a;
  //   height: 20px;
  //   width: 20px;
  //   font-size: 80%;
  //   line-height: 30px;
  //   /*border-radius: 10px;
  //   background-color: #39b34a;*/
  // }

  // #nbphotosrefused{
  //   color : red;
  // }
  // .refused:before{
  //   font-family: 'reneco' !important;
  //   content: "\e65e";
  //   position:relative;
  //   color: #f00;
  //   height: 20px;
  //   width: 20px;
  //   font-size: 80%;
  //   line-height: 30px;
  // /*  border-radius: 10px;
  //   background-color: #f00;*/
  // }
  // #nbphotoschecked{
  //   color : white;
  // }
  // .checked:before{
  //   font-family: 'reneco' !important;
  //   content: '?';
  //   position:relative;
  //   color: white;
  //   height: 20px;
  //   width: 20px;
  //   line-height: 30px;
  //   //background-color: #f00;
  // }
  // #nbphotosnotchecked{
  //   color : white;
  // }
  // .notchecked:before{
  //   font-family: 'reneco' !important;
  //   content: "\e644";
  //   position:relative;
  //   color: white;
  //   height: 20px;
  //   width: 20px;
  //   font-size: 80%;
  //   line-height: 30px;
  //   //background-color: #f00;
  // }

}
