.tooltipster-default{
	background: rgb(181, 181, 181);
	border-radius: 3px;
	border: 2px solid #555;
	color: rgb(82, 82, 82);
	margin-left: -7px;

}

.tooltipster-arrow-top .tooltipster-arrow-border{
	border-left: 9px solid rgba(0, 0, 0, 0) !important;
	border-right: 9px solid rgba(0, 0, 0, 0) !important;
	border-top: 9px solid;
}

	.tooltipster-content input {
	  display: none;
	}
	.tooltipster-content {
	    width: 250px;
	    padding: 10px!important;
	}

	.tooltipList ul{
	  padding: 0px;
	  margin: 0px;
	}

	.tooltipList ul li:nth-child(odd) {
	  background-color: rgb(242, 242, 242);
	}

	.tooltipList ul li:hover {
	  background-color: #636363!important;
	  cursor: pointer;
	  color: white;
	}
	.tooltipster-content li {
	  vertical-align: middle;
	  overflow: hidden;
	  position: relative;
	  list-style: none;
	  padding: 10px;
	  background: rgb(221, 221, 221);
	}

	.tooltipster-content li:after {
	  left: 310px !important;
	  position: absolute !important;
	  transition: left 0.2s ease-in;
	}

	.tooltipster-content li:hover:after {
	  left: 270px !important;
	  position: absolute !important;
	}


	.js-custom-tooltipster {
		.tooltipster-box {
			background: red;
			border-radius: 3px;
			border : 0;
			.tooltipster-content {
				font-family: Arial, sans-serif;
				text-align: center;
				font-size: 14px;
				line-height: 16px;
				padding: 8px 10px;
				overflow: hidden;
				width: 120px;
			}

		}
	.tooltipster-arrow {
		.tooltipster-arrow-uncropped {
			.tooltipster-arrow-border{
				border-bottom-color: red;
			}
			.tooltipster-arrow-background {
				border-bottom-color: #ff0000;
			}
		}
	}
}

.tooltipList {
	.tooltipster-box {
		.tooltipster-content {
			color: black;
		}
	}
}