
<div class="col-xs-3 full-height no-padding">
	<div class="toolbar top">
		<legend class="inherit"><span class="reneco reneco-search circle dark"></span>&nbsp;&nbsp;Search</legend>
		<button class="btn pull-right" id="back">
				<span class="reneco reneco-back"></span>
				&nbsp;
				<span data-i18n="button.back">Back</span>
		</button>
	</div>

	<div class="crop2">
		<br>
		<div id="indiv_filters"></div>
	</div>

	<div class="toolbar bottom">
		<button id="clear" class="btn pull-left">Clear</button>
		<button id="btnFilter" class="btn btn-success pull-right">Filter&nbsp;
			<span class="reneco reneco-search"></span>
		</button>
	</div>
</div>

<div class=" pannels-container col-xs-9 full-height dark ns-no-padding">

	<div class="toolbar top">
		<legend class="text-right"><span id="nbSelected">0</span>&nbsp;selected&nbsp;/&nbsp;<span id="totalEntries"></span>&nbsp;individuals to be released</legend>
		<!-- <div class="bot-border dark"></div> -->
	</div>
	
	<div class="crop2">
		<br>
		<div id="grid" class="full-border"></div>
	</div>

	<!-- <div id="paginator" class="paginator "></div> -->

	<div class="toolbar bottom">
		<button class="btn btn-success pull-right" id='release'>
			<span >Release&nbsp;&nbsp;</span>
			<span class="icon reneco reneco-to_release" data-position="top"></span>
		</button>
		<button class="btn btn-success pull-right" id='addSensor'>
			<span >Add Sensor&nbsp;&nbsp;</span>
			<span class="icon reneco reneco-satellite" data-position="top"></span>
		</button>
	</div>
</div>

<div id="modal" class=""></div>
<!--<div id="newIndiv"></div>-->
