<div class="modal-outer" id="modal-outer">
	<div class="full-height modal">
			<div class="modal-content full-height">
				<div class="modal-header">
					<h4 class="modal-title">Identify sensor
						<button type="button" id="cancel" class="btn btn-default pull-right">
							Cancel
						</button>
					</h4>
				</div>
				<div class="clearfix full-height">
					<div class="col-xs-5 full-height">
						<br>
						<div id="filter"></div>
						<div class="col-xs-12">
							<button type="button" class="btn btn-success pull-right" id="btnFilter">Filter</button>
						</div>
					</div>
					<div class="pannels-container col-xs-7 full-height dark">
						<br>
						<div id="paginator" class="paginator"></div>
						<div id="grid" class=""></div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" id="cancel" class="btn btn-default pull-right">
						Cancel
					</button>
				</div>

			</div>
	</div>
</div>

