
<div class="clearfix full-height ">
	<div id="indivLeft"  class="col-xs-3 full-height ns-no-padding background-img">
		<div class="ns-actions col-xs-12">
			<div class="pull-right">
				<button class=" btn btn-default" id="back">
						<span class="reneco reneco-back"></span>
						&nbsp;
						<span data-i18n="button.back">Back</span>
				</button>
			</div>
			<div class="pull-left">
				<legend><span class="reneco reneco-search circle dark"></span>&nbsp;&nbsp;Search</legend>
			</div>
		</div>
		<div id="indiv_filters" class="grid-padding"></div>

		<div class="ns-filter">
			<button id="clear" class="btn pull-left">CLEAR ALL</button>
			<button id="btnFilter" class="btn btn-success pull-right">FILTER&nbsp;
				<span class="reneco reneco-search"></span>
			</button>
		</div>
	</div>

	<div id="indivRight" class=" pannels-container col-xs-9 full-height dark ns-no-padding">
		<div class="ns-actions">
			<legend class="text-right"><span id="nbSelected"></span>selected&nbsp;/&nbsp;<span id="totalEntries"></span>&nbsp;individuals to be released</legend>
			<!-- <div class="bot-border dark"></div> -->
		</div>
		<div id="grid" class="enhanced-grid full-border grid-padding fit-grid"></div>
		<div id="paginator" class="paginator "></div>
		<div class="ns-footer">
				<div class="col-md-12">
					<button class="btn btn-success pull-right" id='release'>
						<span >RELEASE&nbsp;&nbsp;</span>
						<span class="icon reneco reneco-to_release" data-position="top"></span>
					</button>
					<button class="btn btn-success pull-right" id='addSensor'>
						<span >ADD SENSOR&nbsp;&nbsp;</span>
						<span class="icon reneco reneco-satellite" data-position="top"></span>
					</button>
				</div>
			</div>
		</div>
</div>



<div id="modal" class=""></div>
<!--<div id="newIndiv"></div>-->
