
<div class="col-xs-4 full-height">
	<br>
	<legend>Filters</legend>
	<div id="filters" class="clearfix"></div>
	<div class="container-fluid clearfix">

		<button id="clear" class="btn btn-default pull-left">Clear</button>
		<button id="update" class="btn btn-success pull-right">Filter&nbsp;
			<span class="reneco reneco-search"></span>
		</button>
	</div>
</div>


<div class="pannels-container col-xs-8 no-padding dark">
			<div class="functions clearfix">

	<span class="pull-right">
		<button id="activeGridPanel" class="small btn btn-labeled btn-success active ">
			<span class="reneco reneco-sites"></span>
			&nbsp;Grid
			</span>
		</button>
		<button id="activeMapPanel" class="small btn btn-labeled btn-success">
			<span class="reneco reneco-map"></span>
			&nbsp;Map
		</button>
	</span>
</div>
	<div id="gridPanel" class="col-xs-12 pannel full-height scroll-auto active">
		<br><legend>Stations</legend>

		<legend class="text-right">Total stations : <span id="totalEntries"></span></legend>
		<div id="grid" class=""></div>
		<br>
		<div id="paginator" class="paginator"></div>


		<br>
	</div>
	<div id="mapPanel" class="col-xs-12 full-height no-padding pannel ">
		<div id="map" style="height: 100%"></div>
	</div>
</div>
