
<div class="col-xs-4 full-height">
	<br>
	<div id="filters" class="clearfix"></div>
	<div class="container-fluid clearfix">
		<button id="update" class="small btn btn-labeled btn-success pull-right">
			 FILTER
			<span class="btn-label">
				<i class="icon reneco search "></i>
			</span>
		</button>
	</div>
</div>


<div class="pannels-container col-xs-8 no-padding">
			<div class="functions clearfix">

	<span class="pull-right">
		<button id="displayPanelMap" class="small btn btn-labeled btn-success">
			 Map
			<span class="btn-label">
				<i class="icon reneco map"></i>
			</span>
		</button>

		<button id="displayPanelGrid" class="small btn btn-labeled btn-success">
			 Grid
			<span class="btn-label">
				<i class="icon reneco sites"></i>
			</span>
		</button>
	</span>
</div>
	<div class="col-xs-12 pannel pannel-grid full-height scroll-auto active">
		<br>
		<legend class="text-right">Total stations : <span id="totalEntries"></span></legend>
		<div id="grid" class="dark"></div>
		<div id="paginator" class="paginator dark"></div>
		<br>
	</div>
	<div class="col-xs-12 full-height no-padding pannel pannel-map ">
		<div id="map" style="height: 100%"></div>
	</div>
</div>
