
	<div class="col-xs-4 full-height no-padding">
		<div class="toolbar top">
			<a class="btn pull-left" href="#">
	      <span class="reneco reneco-back"></span>
	      &nbsp;
	      <span data-i18n="button.back">Back</span>
  		</a>
  		<legend class="pull-left">Search</legend>
		</div>
		<div class="crop2 clearfix">
			<div class="js-filters filter-no-padding"></div>
		</div>
		<div class="toolbar bottom">
			<button class="js-btn-clear btn pull-left">Clear</button>
			<button class="js-btn-filter btn btn-success pull-right">Search&nbsp;
				<span class="reneco reneco-search"></span>
			</button>
		</div>
	</div>

	<div class="col-xs-8 full-height dark no-padding">
		<div class="toolbar top">
			<legend class="text-right">Total <%= label %> : <span class="js-total-records"></span></legend>
			<div class="clearfix pull-right">
				<select class="js-page-size form-control">
					<option value="" disabled selected>rows per page</option>
					<option value="20">20</option>
					<option value="50">50</option>
					<option value="200">200</option>
					<option value="500">500</option>
					<option value="1000">1000</option>
				</select>
			</div>
		</div>

		<div class="crop2 no-padding">
			<div class="js-rg-grid full-height"></div>
		</div>

		<div class="toolbar bottom">
			<button class="js-btn-export btn btn-success pull-left">
				Export data&nbsp;
				<span class="reneco reneco-export"></span>
			</button>


			<% if (typeof(availableOptions) === 'undefined') { %>
					<a href="#<%= type %>" class="js-admin btn btn-success pull-right">
					New <%= single %>&nbsp;
					<span class="reneco reneco-entrykey"></span>
					</a>			    
			<% } else { %>
					<button class="js-admin js-btn-new btn btn-success pull-right">
					New <%= single %>&nbsp;
					<span class="reneco reneco-entrykey"></span>
					</button>
			<% } %>
			
		</div>
	</div>
