
<input type="input" id="requirement" class="required hidden">
	<div class="toolbar top">
		<legend class="pull-left">Please select a camera trap device: </legend>
		<div class="col-md-2">
				<select name="CAMTRAP_identifer" id="camtrapId" valule="" class="js-select-camtrap-id form-control required" placeholder="Identifier">
				</select>
		</div>
				<!-- <select name="CAMTRAP_identifer" id="camtrapId" valule="" class="form-control required" placeholder="Identifier">
					<option value="" disabled="" selected="">Select a Camera trap device</option>
				</select> -->
	</div>

<div class="toolbar bottom">
	<legend>Then select a row</legend>
</div>
<div class="js-rg-grid crop2 col-xs-12 no-padding"></div>


