<div class="clearfix text-center">
	<br>
	<br>
	<br>
	<label for="MTI" class="tile-inside text-center">
		<i class="icon-five reneco reneco-gpx_format "></i><br>
		<span data-i18n="import.mti">MTI files</span><br>
		<input name="file" id="MTI" class="hide" type="radio" value="MTI">
	</label>
	
	<label for="Ornitela" class="tile-inside text-center">
		<i class="icon-five reneco reneco-rfid_format"></i><br>
		<span data-i18n="import.ornitela">Ornitela files</span><br>
		<input name="file" id="Ornitela" class="hide" type="radio" value="Ornitela">
	</label>
	
	<label for="EObs" class="tile-inside text-center">
		<i class="icon-five reneco reneco-argos_format"></i><br>
		<span data-i18n="import.eobs">EObs files</span><br>
		<input name="file" id="EObs" class="hide" type="radio" value="Eobs">
	</label>

	<label for="Milsar" class="tile-inside text-center">
		<i class="icon-five reneco reneco-gsm_format"></i><br>
		<span data-i18n="import.milsar">Milsar files</span><br>
		<input name="file" id="Milsar" class="hide" type="radio" value="Milsar">
	</label>
</div>

	</div>