
<div id="inputStLeft"  class="col-xs-12 col-md-6 col-border ns-full-height">
	<br><br>
	<ul class="nav nav-tabs">
		 <li class="active tab-ele"><a href="#stWithCoords" class="tab-link">With coordinates</a></li>
		 <li class="tab-ele"><a href="#stWithoutCoords" class="tab-link">Without coordinates</a></li>
		 <li class="tab-ele"><a href="#stFromMS" class="tab-link">From monitored site</a></li>
	</ul>
	<div class="tab-content">

			<button id="getCurrentPosition" class="btn btn-success">
				Geolocalisation&nbsp;
				<span class="reneco reneco-pin"></span>
			</button>
			<div id="staForm">
			</div>
	</div>

</div>

<div id="inputStRight" class=" no-padding col-xs-12 col-md-6 ns-full-height">
	<div id="map"></div>
</div>
