
<div id=""	class="white scroll-auto col-xs-12 col-md-4 full-height">
	<br>



	<div id="rgStation">
		<div class="quick-nav">
			<button id="prevStation" class="btn btn-success pull-left">
					<span class="reneco reneco-leftarrow"></span>
			</button>
			<span class="text-center info">Change station</span>
			<button id="nextStation" class="btn btn-success pull-right">
					<span class="reneco reneco-rightarrow"></span>
			</button>
		</div>
		<br><br>

		<div id="stationForm"></div>
		<br>
		<div id="stationFormBtns"></div>
	</div>
	<br>
</div>


<div id="rgProtos" class="col-xs-12 col-md-8 full-height dark">
	<br>
	<div class="clearfix">
		<div class="col-xs-6 no-padding">
			<select name="" id="protoList" class="form-control"></select>
		</div>
			<button id="addProto" class="btn btn-success pull-left">
				<span class="reneco reneco-add"></span>
			</button>
		<div class="pull-right">
			<legend>Total observation : <span id="total">0</span></legend>
		</div>
	</div>
	<br>
	<div id="accordionContainer"></div>
</div>
