<div class="container-fluid full-height">
    <br/>
    <form class="form" role="form">
        
        <div class="row">
            <div class="col-sm-6 form-group" id="group-file">
                <input name="fileName" type="file" id="input-file"/>
                <span id="help-file" class="help-block"></span>
            </div>
           <!--  <div class="col-sm-6 form-group">
               <button id="btn-import" type="submit" class="btn btn-primary btn-lg">
                   Import
               </button>
           </div> -->
        </div>
    </form> 
    <button data-dz-remove="" class="btn btn-warning cancel" id="clear" disabled>
			<i class="glyphicon glyphicon-ban-circle"></i>
			<span>Clear</span>
		</button>
 <div class="spacer"></div>
  <div class="progress" style="display: none;width: 90%;">
        <div class="progress-bar" style="width: 0%;"></div>
    </div>
    <div  class="grid full-height" style="height: 45%;">
        <div id="paginator"></div>
        <div id="rfid-grid" class="full-height light-grid" style=" overflow:auto;"></div> 

    </div>                                                   
</div>
