  <div class="container-fluid full-height" style="overflow: hidden;">
      <br/>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 full-height">
      <form class="form hidden" role="form">

          <div class="row">
              <div class="col-xs-12 form-group" id="group-file">
                  <input name="fileName" type="file" id="input-file" class="form-control"/>
                  <span id="help-file" class="help-block"></span>
              </div>
             <!--  <div class="col-sm-6 form-group">
                 <button id="btn-import" type="submit" class="btn btn-primary btn-lg">
                     Import
                 </button>
             </div> -->
          </div>
      </form>
      <button class="btn btn-success fileinput-button dz-clickable">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Add file...</span>
      </button>
      <button type="submit" class="btn btn-primary start hidden">
          <i class="glyphicon glyphicon-upload"></i>
          <span>Start upload</span>
      </button>
      <button data-dz-remove="" class="btn btn-warning cancel" id="clear" disabled >
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Clear</span>
      </button>
   <div class="spacer"></div>
    <div class="progress" style="display: none;width: 90%;">
          <div class="progress-bar" style="width: 0%;"></div>
      </div>
      <div  class="grid full-height" style="height: 45%;">
          <div id="paginator"></div>
          <div id="rfid-grid" class="full-height light-grid" style=" overflow:auto;"></div>
      </div>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <br><br>
        <div class="drag-zone-hover" style="height:400px">
          <span class="huge">Drop your file here</span>
        </div>
        <br><br><br>
      </div>
      <div class="clear"></div>
  </div>
