
<div class="container-fluid full-height">
	<br>
	<div class="row">
		<div class="col-sm-6 form-group" id="group-mod">
			<label for="input-mod" class="control-label medium" >
				Select a RFID decoder unit :
			</label>
			<br>
			<div >
				<select name="RFID_identifer" id="input-mod" valule="" class="form-control required" placeholder="Identifier">
					<option></option>
				</select>
			</div>
			<span id="help-mod" class="help-block"></span>
		</div>
		<div class="col-sm-6">
			<br>
			<button id="deploy_remove" class="btn btn-primary">
				Deploy/Remove RFID decoder
			</button>
		</div>
	</div>
		<div id="paginator"></div>
		<div id="grid"></div>
	<div class="modal fade full-modal" id="rfid-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</div>
