
<input type="input" id="requirement" class="required hidden">
<div class="full-height">
	<div class="toolbar top">
				<select name="RFID_identifer" id="rfidId" valule="" class="form-control required" placeholder="Identifier">
					<option value="" disabled="" selected="">Select a RFID decoder</option>
				</select>
	</div>
		<div class="crop1 crop-paginator">
			<br>
			<span>Please select a row</span>
			<div id="grid" class="hidden"></div>
		</div>
		<div id="paginator" class="paginator hidden"></div>
</div>
