
<div id="infos"  class="col-xs-12 col-md-5 full-height">
	<br>
	<div class="clearfix">
		<button class="btn" id="back">
			<span class="reneco reneco-back"></span>
			&nbsp;
			<span data-i18n="button.back">Back</span>
		</button>

		<div id="navbar" class="pull-right"></div>
	</div>
	<br>

	<div id="form"></div>
	<div id="formBtns"></div>
	<br/>

	<div id = "ongletGrid">
		<ul class="nav nav-tabs">
			<li class="active tab-ele"><a href="#Site_history" class= "tab-link">History</a>
			</li>
			<li class="tab-ele"><a href="#Site_equipment" class= "tab-link">Equipment</a>
			</li>
		</ul>
	</div>
		<div class="tab-content">
		<div id="Site_history" class="tab-pane fade in active">
					<div id="grid"></div>
				<div id="paginator"></div>
		</div>
		<div id="Site_equipment" class="tab-pane fade">
			<div id="gridEquipment"></div>
			<div id="paginatorEquipment"></div>
		</div>
	</div>
</div>

<div id="mapContainer" class=" no-padding col-xs-12 col-md-7 ns-full-height">
	<div id="map">
		<div id="showDetails" class="masqued">
			<span class="glyphicon glyphicon-chevron-right big"/>
		</div>

	</div>

</div>
