<script type="text/template">
	<div class="modal-dialog StepManager fuelux full-height" id="form-container" style="width:80%;">
		<div class="modal-content wizard" id="wizard">
			<div class="modal-header stepper-header" id = "stepper-header" > Deploy or Remove RFID unit <button id="modal-close" type="button" class="close" data-dismiss="modal" aria-hidden="true" style="opacity:0.5;"><i class="icon-action icon mini reneco close" style ="font-size: 1.3em;"></i></button> </div>
			<div class="clear"></div>
			<div class="step-content" id="step-content">
				<form class="form-horizontal col-sm-4 col-md-4" role="form">
					<div class="form-group" id="group-mod">
						<label for="input-mod" class="control-label col-sm-5">
							RFID unit:
						</label>
						<div class="col-sm-7">
							<input id="input-mod" list="mod-list" type="text"
								class="form-control" placeholder="RFID unit"/>
							<datalist id="mod-list"/>
							<span class="help-block" id="help-mod"/>
						</div>
					</div>
					 <div class="form-group" id="group-begin">
						<label for="input-begin" class="control-label col-sm-5">
							Placed on:
						</label>

						<div class="col-sm-7 col-md-7 input-type date dateTimePicker" id="dateTimePicker1">
							<input id="input-begin" type="text" data-date-format="DD/MM/YYYY HH:mm:ss" 
								class="form-control" disabled>
							</input>
						   

						</div>
					</div>
					<div class="form-group" id="group-type">
						<label for="input-type" class="control-label col-sm-5">
							Monitored site type:
						</label>
						<div class="col-sm-7">
							<input id="input-type" list="type-list" type="text"
								class="form-control" placeholder="Type" disabled/>
							<datalist id="type-list"/>
							<span class="help-block"/>
						</div>
					</div>
					<div class="form-group" id="group-name">
						<label for="input-name" class="control-label col-sm-5">
							Monitored site name:
						</label>
						<div class="col-sm-7">
							<input id="input-name" list="name-list" type="text"
								class="form-control" placeholder="Name" disabled/>
							<datalist id="name-list"/>
							<span class="help-block"/>
						</div>
					</div>           
					<div class="form-group" id="group-end">
						<label for="input-end" class="control-label col-sm-5">
							Removed on:
						</label>
						<div class="col-sm-7 col-md-7 input-type date dateTimePicker" id="dateTimePicker2">
							<input id="input-end" type="text" data-date-format="DD/MM/YYYY HH:mm:ss" 
								class="form-control" disabled>
							<span class="help-block"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-5">
							<button id="btn-action" type="submit"
								class="btn btn-primary" disabled>
								Choose a module
							</button>
						</div>
					</div>
				</form>
		
				<div class="col-sm-8" id="map-container" class="full-height" style="height:300px;"></div>
			</div>  
		</div>
	</div>

</script>
