
<div class="clearfix full-height ">
	<div id="indivLeft"  class="col-xs-4 full-height">
		<br>
		<legend>Filters</legend>
		<div id="filter"></div>
		<button class="btn btn-success pull-right" id="btnFilter">
			Filter&nbsp;
			<span class="reneco reneco-search"></span>
		</button>
	</div>

	<div id="indivRight" class=" pannels-container col-xs-8 full-height dark">
		<br>
		<legend>Individuals</legend>
		<div id="grid"></div>
		<br>
		<div id="paginator" class="paginator"></div>
	</div>
</div>


<div id="detail" class="hidden detail full-height"></div>
