
<div id="indivLeft"  class="col-xs-12 col-md-5 ns-full-height">
	<br>
	<!--<span id="back"> <span id="prev" class="glyphicon glyphicon-arrow-left"></span> Back </span>-->
	<div class="clearfix">
		<button class="btn" id="back">
					<span class="reneco reneco-back"></span>
					&nbsp;
					<span data-i18n="button.back">Back</span>
		</button>

		<div id="navbar" class="pull-right"></div>
	</div>

<!-- 	<span id="hideIndivDetails" class="glyphicon pointer big glyphicon-chevron-left"></span> -->
	<br>

	
	<div id="form"></div>
	<div id="formBtns"></div>
	<br/>
	<div id = "ongletGrid">
		<ul class="nav nav-tabs">
			<li class="active tab-ele"><a href="#Indiv_history" class= "tab-link">History</a>
			</li>
			<li class="tab-ele"><a href="#Indiv_equipment" class= "tab-link">Equipment</a>
			</li>
		</ul>
	</div>
		<div class="tab-content">
		<div id="Indiv_history" class="tab-pane fade in active">
					<div id="grid"></div>
				<div id="paginator"></div>
		</div>
		<div id="Indiv_equipment" class="tab-pane fade">
			<div id="gridEquipment"></div>
			<div id="paginatorEquipment"></div>
		</div>
	</div>
	
	
</div>

<div id="indivRight" class=" no-padding col-xs-12 col-md-7 ns-full-height">
	<div id="map">
		<div id="showIndivDetails" class="masqued">
			<span class="glyphicon glyphicon-chevron-right big"/>
		</div>

	</div>

</div>
