
<div id="indivLeft"  class="col-xs-12 col-md-5 col-border ns-full-height">
	<br>
	<div>
		<span id="prev" class="glyphicon pointer big glyphicon-chevron-left"></span>
		<span>change individual</span><span id="next" class="glyphicon pointer big glyphicon-chevron-right"></span>
	</div>
	<span id="hideIndivDetails" class="glyphicon pointer big glyphicon-chevron-left"></span>
	<div id="form"></div>
	<br/>
	<div id="grid"></div>
	<div id="paginator"></div>
</div>

<div id="indivRight" class=" no-padding col-xs-12 col-md-7 ns-full-height">
	<div id="map">
		<div id="showIndivDetails" class="masqued">
        	<span class="glyphicon glyphicon-chevron-right big"/>
    	</div>
		

	</div>

</div>
