
<div class="clearfix full-height ">
	<div id="indivLeft"  class="col-xs-4 full-height">
		<br>
		<legend>Filters</legend>
		<div id="filter"></div>

		<button id="clear" class="btn btn-default pull-left">Clear</button>
		<button id="btnFilter" class="btn btn-success pull-right">Filter&nbsp;
			<span class="reneco reneco-search"></span>
		</button>
	</div>

	<div id="indivRight" class=" pannels-container col-xs-8 full-height dark">
		<br>
		<legend class="text-right">Total individuals : <span id="totalEntries"></span></legend>
		<div id="grid" class=""></div>
		<div id="paginator" class="paginator "></div>
		<!--<div class=" ns-footer">
            <div class="col-md-4  col-md-offset-8">
                <button class="btn pull-right" id="createNew" >
                    <span >Create new</span>
                    <i class="icon reneco reneco-add" data-position="top"></i>
                </button>
            </div>
		</div>-->
		<div id="toolbar"></div>
	</div>
</div>


<div id="detail" class="hidden detail full-height"></div>
<!--<div id="newIndiv"></div>-->
