 <div>
	<div id="stContainer"  class="scroll-auto col-xs-12 col-md-3 col-border ns-full-height"> 
	</div>
	<div class="col-xs-12 col-md-9 ns-full-height no-padding">


	<div class="clearfix swiper">
		<div class="swiper-header">


			<div class="col-xs-12 addProto clearfix">
				<div class="pull-right">
					<div id="add-proto" class="pull-left">
						<select  class="add-protocol form-control col-xs-11" name="add-protocol" placeholder="add a protocol">
							<option></option>
						</select>
					</div>
					<button id="addInstance" type="submit" class="small btn btn-labeled btn-success pull-left add">
						add
						<span class="btn-label">
							 <i class="icon reneco-add "></i>
						</span>
					 </button>
				</div>

			</div>
			<div class="clear"></div>
			<br>
			<div id="formsIdList" class="col-xs-12"></div>

		</div>





		<div class="arrow arrow-left" >
			<a id="proto_name-left"  class="glyphicon pointer glyphicon-chevron-left left"></a>
		</div> 
		<div id="protosListContainer" class="swiper-container">
			<div class="swiper-wrapper" id="tabProtsUl" name="tabProtsUl">
			</div>
		</div>
		<div  class="arrow arrow-right" >
			<a id="proto_name-right" class="glyphicon pointer glyphicon-chevron-right right" ></a>
		</div>
	</div>



	<div class="clear"></div>


	<div class="tab-content" id="tabProtsContent">
		<div class="tab-pane active" id="formsContainer"></div>
		<div id="formButtons"></div>
	</div>






		</div>
	</div>
	<div class='masqued'>
		<select id='usersList'></select>
	</div>
</div>
