
<div id="infos"  class="col-xs-12 col-md-5 full-height no-padding">
  <div class="toolbar top">
    <button class="btn" id="back">
      <span class="reneco reneco-back"></span>
      &nbsp;
      <span data-i18n="button.back">Back</span>
    </button>

    <div id="navbar" class="pull-right"></div>
  </div>

  <div class="crop2">
    <div id="form"></div>

    <br>
    <div id = "ongletGrid">
      <ul class="nav nav-tabs">
        <li class="active tab-ele"><a id="" href="#Site_history" class="tab-link">History</a>
        </li>
        <li class="tab-ele"><a href="#Site_equipment" class="tab-link">Equipment</a>
        </li>
        <li class="tab-ele"><a href="#locations" class="tab-link">Locations</a>
        </li>
      </ul>
    </div>
    <br>

    <div class="tab-content">
      <div id="Site_history" class="tab-pane fade in active">
            <div id="grid"></div>
          <div id="paginator"></div>
      </div>

      <div id="Site_equipment" class="tab-pane fade">
        <div id="gridEquipment"></div>
        <div id="paginatorEquipment"></div>
      </div>

      <div id="locations" class="tab-pane fade">
        <div id="locationsGrid"></div>
        <div id="locationsPaginator"></div>
      </div>

    </div>
    <br>
  </div>

  <div class="toolbar bottom">

    <div id="formBtns"></div>
  </div>

</div>

<div id="mapContainer" class=" no-padding col-xs-12 col-md-7 ns-full-height">
  <div id="map">
    <div id="showDetails" class="masqued">
      <span class="glyphicon glyphicon-chevron-right big"/>
    </div>
  </div>
</div>
