
	<div class="col-xs-4 full-height no-padding">
		<div class="toolbar top">
			<legend>Search</legend>
			<ul class="js-indiv-tabs nav nav-tabs pull-right">
               <li class="tab-ele activeTab"><a id="standardTab" class="tab-link" name="standard">Standard</a></li>
               <li class="tab-ele"><a id="advancedTab" class="tab-link" name="advanced">Advanced</a></li>
               <br>
            </ul>
		</div>
		<div class="crop2 clearfix">
			<br>
			<div class="border-bottom-filter hide">
	          	<div class="form-group col-md-6">
	                <span>At Date : </span>
	                <div class='js-date-time input-group date'>
	                    <span class="input-group-addon">
	                        <span class="reneco-calendar reneco" ></span>
	                    </span>
	                    <input type='text' class="js-date-val form-control" />
	                </div>
	            </div>
                <div class="">
                	<span>All history : </span>
                	<input type='checkbox' class="js-hist-val form-control" />
                </div>
             </div>
			<div class="js-filters filter-no-padding filter-indiv"></div>
		</div>
		<div class="toolbar bottom">
			<button class="js-btn-clear btn pull-left">Clear</button>
			<button class="js-btn-filter btn btn-success pull-right">Search&nbsp;
				<span class="reneco reneco-search"></span>
			</button>
		</div>
	</div>

	<div class="col-xs-8 full-height dark no-padding">
		<div class="toolbar top">
			<legend class="text-right">Total individuals : <span class="js-total-records"></span></legend>
			<div class="clearfix pull-right">
				<div class="js-row-selector pull-left"></div>
				<legend class="pull-right"></legend>
			</div>
		</div>

		<div class="crop2 no-padding">
			<div class="js-rg-grid full-height"></div>
		</div>

		<div class="toolbar bottom">
			<button class="js-btn-export btn btn-success pull-left">
				Export data&nbsp;
				<span class="reneco reneco-export"></span>
			</button>
			<button class="js-btn-new js-admin btn btn-success pull-right">
				New individual&nbsp;
				<span class="reneco reneco-entrykey"></span>
			</button>
		</div>
	</div>
