
	<div class="col-xs-4 full-height no-padding">
		<div class="toolbar top">
			<legend>Search</legend>
			<ul id="indivSearchTabs" class="nav nav-tabs pull-right">
               <li class="tab-ele activeTab"><a id="standardTab" class="tab-link" name="standard">Standard</a></li>
               <li class="tab-ele"><a id="advancedTab" class="tab-link" name="advanced">Advanced</a></li>
               <br>
            </ul>
		</div>
		<div class="crop2 clearfix">
			<br>
			<div class="border-bottom-filter hide">
	          	<div class="form-group col-md-6">
	                <span>At Date : </span>
	                <div class='input-group date' id='datetimepicker2'>
	                    <span class="input-group-addon">
	                        <span class="reneco-calendar reneco" ></span>
	                    </span>
	                    <input id="dateVal" type='text' class="form-control" />
	                </div>
	            </div>
                <div class="">
                	<span>All history : </span>
                	<input id="histVal" type='checkbox' class="form-control" />
                </div>
             </div>
			<div id="filter" class="filter-no-padding filter-indiv"></div>
		</div>
		<div class="toolbar bottom">
			<button id="clear" class="btn pull-left">Clear</button>
			<button id="btnFilter" class="btn btn-success pull-right">Search&nbsp;
				<span class="reneco reneco-search"></span>
			</button>
		</div>
	</div>

	<div class="col-xs-8 full-height dark no-padding">
		<div class="toolbar top">
			<legend class="text-right">Total individuals : <span id="totalEntries"></span></legend>
			<div class="clearfix pull-right">
				<div id="rowSelector"  class="pull-left"></div>
				<legend class="pull-right"> &nbsp;rows/page</legend>
			</div>
		</div>

		<div class="crop2 no-padding">
			<div id="rgGrid" class="full-height"></div>
		</div>

		<div class="toolbar bottom" id="toolbar">
			<button class="btn btn-success pull-left" id="btn-export">
				Export data&nbsp;
				<span class="reneco reneco-export"></span>
			</button>
			<button class="js-admin btn btn-success pull-right" id="createNew">
				New individual&nbsp;
				<span class="reneco reneco-entrykey"></span>
			</button>
		</div>
	</div>
<div id="detail" class="hidden detail full-height"></div>
