			<div class="modal-content mymodal">
				<div class="modal-header"> 
										<h4 class="modal-title">New sensor 
										</h4> 
				</div>
				<div class="clearfix full-height modal-content">
						<div id="sensorType">
							<button type='3' class='sensor'>RFID</button>
							<button type='2' class='sensor'>GSM</button>
							<button type='1' class='sensor'>ARGOS</button>
							<button type='4' class='sensor'>VHF</button>
						</div>
						<div id="sensorDetails">
							

						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-right cancel">Cancel</button>
				</div>
			</div>
			<div id="fade"></div>
