
<div class="clearfix full-height ">
	<div id="sensorLeft"  class="col-xs-4 full-height">
		<br>
		<legend>Filters</legend>
		<div id="filter"></div>

		<button id="clear" class="btn btn-default pull-left">Clear</button>
		<button id="btnFilter" class="btn btn-success pull-right">Filter&nbsp;
			<span class="reneco reneco-search"></span>
		</button>
	</div>

	<div id="sensorRight" class=" pannels-container col-xs-8 full-height dark">
		<br>
		<button id="btn-export" class="small btn btn-labeled btn-grey pull-right white">
            EXPORT
            <span class="btn-label">
            <i class="icon reneco export"></i>
            </span>
    	</button>
    	<br>
    	<br>
		<legend class="text-right">Total sensors : <span id="totalEntries"></span></legend>
		<div id="grid" class=""></div>
		<div id="paginator" class="paginator "></div>
	</div>
</div>


<div id="detail" class="hidden detail full-height"></div>
