
<div class="clearfix full-height ">
	<div id="sensorLeft"  class="col-xs-4 full-height no-padding">
		<div class="toolbar top">
			<legend>Filters</legend>
		</div>
		
		<div class="crop2">
			<br>
			<div id="filter"></div>
		</div>

		<div class="toolbar bottom">
			<button id="clear" class="btn pull-left">Clear</button>
			<button id="btnFilter" class="btn btn-success pull-right">Filter&nbsp;
				<span class="reneco reneco-search"></span>
			</button>
		</div>
	</div>

	<div id="sensorRight" class="col-xs-8 full-height dark no-padding">
		<div class="toolbar top">
			<legend class="text-right">Total sensors : <span id="totalEntries"></span></legend>
		</div>
	
		<div class="crop2 crop-paginator">
			<br>
			<div id="grid" class=""></div>
		</div>

		<div id="paginator" class="paginator "></div>

		<div class="toolbar bottom">
			<button class="btn btn-success pull-left" id="btn-export">
				Export data&nbsp;
				<span class="reneco reneco-entrykey"></span>
			</button>
			<button class="btn btn-success pull-right" id="btnNew">
				New sensor&nbsp;
				<span class="reneco reneco-entrykey"></span>
			</button>
		</div>
	</div>
</div>

<div id="detail" class="hidden detail full-height"></div>
