<div class="step-pane active sample-pane clearfix" data-step="1" id="step1" style="overflow: hidden;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 full-height">
	<br>
  <div id="btnImpGpxFile">
    <button id="importGpxFile" type="button" class="btn btn-success fileinput-button" data-i18n="import.fileSelection">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select a file</span>
    </button>
    <span id="fileNameSelected">No file selected</span>
  </div>
	<legend for="file" data-i18n="import.fileSelection">Select a file</legend>
	<p id="importGpxMsg" data-i18n="import.fileSelectionMsg">Please select a file exported from your GPS in GPX format.</p>
	<div id="form"></div>
	<br/>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
	<br><br>
	<div class="drag-zone-hover" style="height:400px">
		<span class="huge">Drop your file here</span>
	</div>
	<br><br><br>
</div>
<div class="clear"></div>
</div>
