
<div class="col-xs-12">
	<br>
	<legend for="file" data-i18n="import.fileSelection">Select a file</legend>
	<p id="importGpxMsg" data-i18n="import.fileSelectionMsg">Please select a file exported from your GPS in GPX format.</p>
	<!-- <input type="file" class="required" name="fileInput"  id="fileInput">
	<input type="text" disabled class="required hidden" name="FileName" value="" id="FileName"> -->
	<div id="form"></div>
	<br/>
	
	<br/>


	<!--<div id="fielActivity" class="hidden">
		<legend for="importFieldActivity" class="col-sm-12 control-label" data-i18n="import.globalFieldActivity">Global field activity</legend>
		<div class="col-xs-10">
			<select id="selectFieldActivity" name="importFieldActivity" value="" class="form-control">
				<option value=""></option>
			</select>
		</div>
		<div class="col-xs-2 no-padding">
			<button id="resetFieldActivity" type="button" class="btn btn-default" data-i18n="button.reset"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reset</button>
		</div>
	</div>-->
	<br/>
	

</div>
