<div class="step-pane active sample-pane clearfix" data-step="1" id="step1" style="overflow: hidden;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 full-height">
	<br>

	<legend for="file" data-i18n="import.fileSelection">Add station information</legend>
	<p id="importGpxMsg" data-i18n="import.fileSelectionMsg">Please complete these elements</p>
	<div id="form">
    <!-- <div class="required">
    </div> -->
  </div>
	<br/>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
</div>
<div class="clear"></div>
</div>
