<div class="toolbar top">
	<legend class="pull-left"><%= Name %></legend>
	<div class="pull-right">
		<% if (obs.length > 1) { %>
		<button class="js-prev btn pull-left">
				<span class="reneco reneco-chevron_left"></span>
		</button>
		<span class="btn text-center switcher pull-left">
				<span class="js-record-index"><%= index %></span>/<span class="js-total-records"><%= obs.length %></span>
		</span>
		<button class="js-next btn pull-left">
				<span class="reneco reneco-chevron_right"></span>
		</button>
		<% } %>
	</div>
</div>

<div class="js-rg-observation crop1 osbservations-container"></div>
