<div class="step-pane active sample-pane clearfix" data-step="1" id="step1" style="overflow: hidden;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 full-height">
    <div id="actions" class="file-list full-height scroll-auto" style="padding-right: 20px; padding-bottom: 20px;">
        <br><br>
        <button class="btn btn-success fileinput-button dz-clickable">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span>Cancel upload</span>
        </button>
        <span class="fileupload-process">
          <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="opacity: 0;">
            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress=""></div>
          </div>
        </span>

        <br>

        <div class="table table-striped" class="files" id="previews">
          <div id="template" class="file-row">
            <!-- This is used as the file preview template -->
            <div>
                <span class="preview"><img data-dz-thumbnail /></span>
            </div>
            <div>
                <p class="name" data-dz-name></p>
                <strong class="error text-danger" data-dz-errormessage></strong>
            </div>
            <div>
                <p class="size" data-dz-size></p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                  <div class="progress-bar progress-bar-infos" style="width:0%;" data-dz-uploadprogress></div>
                </div>
            </div>
            <div>
              <button class="btn btn-primary start">
                  <i class="glyphicon glyphicon-upload"></i>
                  <span>Upload</span>
              </button>
              <button data-dz-remove class="btn btn-warning cancel">
                  <i class="glyphicon glyphicon-ban-circle"></i>
                  <span>Cancel</span>
              </button>
            </div>
          </div>
        </div>
    </div>

  </div>


  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
    <br><br>
    <div class="drag-zone-hover" style="height:400px">
      <span class="huge">Drop your file here</span>
    </div>
    <br><br><br>
  </div>

  <div class="clear"></div>
</div>
