
	<div class="panel-group" id="filter-accordion">
	<div class="panel panel-default">
		<div class="panel-heading top-level">
			<h1 class="panel-title">
			<a data-toggle="collapse" data-parent="#filter-accordion" href="#filter-collapse">
				FILTERS
			</a>
			</h1>
		</div>
	<div id="filter-collapse" class="panel-collapse collapse in">
	<form role="form">
		<div class="row-fluid">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
							Population criteria
						</a>
						</span>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-species">
										<option>is</option>
										<option>is not</option>
									</select>
								</div>
								<input id="species" list="species_list" type="text"
									class="form-control" placeholder="Species"/>
								<datalist id="species_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-origin">
										<option>is</option>
										<option>is not</option>
									</select>
								</div>
								<input id="origin" list="origin_list" type="text"
									class="form-control" placeholder="Origin"/>
								<datalist id="origin_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-release_area">
										<option>is</option>
										<option>is not</option>
									</select>
								</div>
								<input id="release_area" list="release_area_list" type="text"
									class="form-control" placeholder="Release area"/>
								<datalist id="release_area_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-release_year">
										<option>is</option>
										<option>is not</option>
									</select>
								</div>
								<input id="release_year" list="release_year_list" type="text"
									class="form-control" placeholder="Release year"/>
								<datalist id="release_year_list"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-group " id="accordion2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						Individual characteristics
						</a>
						</span>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-age">
										<option>is</option>
										<option>is not</option>
									</select>
								</div>
								<input id="age" list="age_list" type="text"
									class="form-control" placeholder="Age"/>
								<datalist id="age_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-sex">
										<option>is</option>
										<option>is not</option>
									</select>
								</div>
								<input id="sex" list="sex_list" type="text"
									class="form-control" placeholder="Sex"/>
								<datalist id="sex_list"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- End of 1st row -->
		<div class="row-fluid">
			<div class="panel-group" id="accordion3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
						Survey criteria
						</a>
						</span>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-status">
										<option>is</option>
										<option>is not</option>
									</select>
								</div>
								<input id="status" list="status_list" type="text"
									class="form-control" placeholder="Individual status"/>
								<datalist id="status_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-survey_type">
										<option>is</option>
										<option>is not</option>
										<option>null</option>
										<option>not null</option>
									</select>
								</div>
								<input id="survey_type" list="survey_type_list" type="text"
									class="form-control" placeholder="Type of survey"/>
								<datalist id="survey_type_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-monitoring_status">
										<option>is</option>
										<option>is not</option>
										<option>null</option>
										<option>not null</option>
									</select>
								</div>
								<input id="monitoring_status" list="monitoring_status_list" type="text"
									class="form-control" placeholder="Monitoring status"/>
								<datalist id="monitoring_status_list"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-group" id="accordion4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
						Identifiers
						</a>
						</span>
					</div>
					<div id="collapseFour" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-frequency">
										<option>is</option>
										<option>is not</option>
										<option>null</option>
										<option>not null</option>
									</select>
								</div>
								<input id="frequency" list="frequency_list" type="text"
									class="form-control" placeholder="Frequency"/>
								<datalist id="frequency_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-ptt">
										<option>is</option>
										<option>is not</option>
										<option>null</option>
										<option>not null</option>
									</select>
								</div>
								<input id="ptt" list="ptt_list" type="text"
									class="form-control" placeholder="PTT"/>
								<datalist id="ptt_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-chip_code">
										<option>is</option>
										<option>is not</option>
										<option>null</option>
										<option>not null</option>
										<option>begin with</option>
										<option>not begin with</option>
									</select>
								</div>
								<input id="chip_code" list="chip_code_list" type="text"
									class="form-control" placeholder="Chip code"/>
								<datalist id="chip_code_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-breeding_ring">
										<option>is</option>
										<option>is not</option>
										<option>null</option>
										<option>not null</option>
										<option>begin with</option>
										<option>not begin with</option>
									</select>
								</div>
								<input id="breeding_ring" list="breeding_ring_list" type="text"
									class="form-control" placeholder="Breeding ring"/>
								<datalist id="breeding_ring_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-release_ring">
										<option>is</option>
										<option>is not</option>
										<option>null</option>
										<option>not null</option>
										<option>begin with</option>
										<option>not begin with</option>
									</select>
								</div>
								<input id="release_ring" list="release_ring_list" type="text"
									class="form-control" placeholder="Release ring"/>
								<datalist id="release_ring_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-mark1">
										<option>is</option>
										<option>is not</option>
										<option>null</option>
										<option>not null</option>
										<option>begin with</option>
										<option>not begin with</option>
									</select>
								</div>
								<input id="mark1" list="mark1_list" type="text"
									class="form-control" placeholder="Mark 1 code"/>
								<datalist id="mark1_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-mark2">
										<option>is</option>
										<option>is not</option>
										<option>null</option>
										<option>not null</option>
										<option>begin with</option>
										<option>not begin with</option>
									</select>
								</div>
								<input id="mark2" list="mark2_list" type="text"
									class="form-control" placeholder="Mark 2 code"/>
								<datalist id="mark2_list"/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<select id="select-id">
										<option>is</option>
										<option>is not</option>
									</select>
								</div>
								<input id="id" list="id_list" type="text"
									class="form-control" placeholder="ID"/>
								<datalist id="id_list"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- End of 2nd row -->
		<div class="row-fluid">
			<div class="container-fluid form-group">              
			<div class="spacer"/>
			<div class="row-fluid">
					<button id="clear-btn"
						class="small btn pull-left" style="margin-right:15px">
						CLEAR
					</button>
					<button id="filter-btn" type="submit"
							class="small btn btn-labeled btn-success pull-right">
							 FILTER
							<span class="btn-label">
								<i class="icon reneco reneco-search "/>
							</span>
					</button>
			</div>
			<div class="spacer"></div>
			</div>
			</div>
		</div> <!-- End of 3th row -->
	</form>
	</div>
	</div>
	</div>
	<div class="panel-group" id="saved-accordion">
	<div id="indivModalQuery"></div>
