<div class="modal fade full-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close filterClose blackFont" data-dismiss="modal" aria-hidden="true">X</button>
					<h4 class="modal-title">Identify individual</h4>
				</div>
				<div class="modal-body">
						<div id="filter-left-panel" class="col-lg-4 col-md-6 col-sm-6 no-padding modal-panel-left"></div>
						<div id="filter-main-panel" class="col-lg-8 col-md-6 col-sm-6 no-padding modal-main-panel"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default filterCancel" data-dismiss="modal">cancel</button>
					<button type="button" class="btn btn-primary filterClose">finish</button>
				</div>
			</div>
		</div>
</div>
