<div id="stationPanel">
	<br>
	<div class="row form-group" id="stationHeader">
		<span class="col-md-12 col-lg-6">
			
				<button id="arrow-left-station" class="btn pull-left" nav="prev">
					<i class="glyphicon glyphicon-triangle-left"></i>
				</button>
				<button id="arrow-right-station" class="btn pull-left" nav="prev">
					<i class="glyphicon glyphicon-triangle-right"></i>
				</button>
		</span>
		<div class="col-md-12 col-lg-6">
			<button id="editSt-btn" type="submit" class="small btn btn-labeled btn-success pull-right">
					<span data-i18n="button.edit">Edit</span> &nbsp;
					<span class="btn-label">
						<i class="reneco reneco-edit"></i>
					</span>
			</button>
		</div>
	</div>

	<legend class="break" id="stDetailsTitle">Station: <%= Name %></legend>



	<div class="row">
		<div class="form-group col-lg-4 col-md-12" id="">
			<label>id</label>
			<div><%= PK %></div>
		</div>
		<div class="form-group col-lg-4 col-md-12" id="">
			<label>latitude</label>
			<div><%= LAT %></div>
		</div>
		<div class="form-group col-lg-4 col-md-12" id="">
			<label>longitude</label>
			<div><%= LON %></div>
		</div>
	</div>


	<div class="row">
		<div class="form-group col-lg-4 col-md-12" id="">
			<label>region</label>
			<div><%= Region %></div>
		</div>
		<div class="form-group col-lg-8 col-md-12" id="">
			<label data-i18n="shared.place">place</label>
			<div>
				<input class='autocompTree_st blackFont form-control editField' disabled name='stPlace' startId='1000265' type='text' id='stPlace'>
			</div> 
		</div>
	</div>
	<div class="row" >
		<div class="form-group col-md-12 col-lg-5" id="">
			<label data-i18n="shared.accuracy">accuracy(m)</label>
			<div><input name="stAccuracy" class="blackFont form-control editField" disabled type="number"></div>
		</div>
		<div class="form-group col-xs-12" id="">
			<label data-i18n="shared.distanceObs">distance from obs</label>
			<div>
				<select id="stDistFromObs" class="blackFont form-control editField" disabled name="stDistance">
					<option value="NULL"></option>
					<option value="1000004">&lt;100m</option>
					<option value="1000005">100m&lt; x &lt;500m</option>
					<option value="1000006">&gt;500m</option>
				</select>
			</div>
		</div>
	</div>
	<br>
	<div class="row" id="stNameSite" >
		<div class="col-sm-3">
			<i class="icon-two reneco reneco-site"></i> 
		</div>
		<div class="form-group col-sm-9">
			<label>site</label>
			<div><%= id_site %></div>
		</div>
	</div>
	<div class="row" >
		<div class="form-group col-xs-3">
			<i class="icon-two reneco reneco-time"></i> 
		</div>
		<div class="form-group col-xs-9">
			<label data-i18n="shared.date">time</label>
			<div><%= Date_ %></div>
		</div>
	</div>
	<br>
	<div class="row" >
		<div class="form-group col-xs-3">
			<i class="icon-two reneco reneco-fieldactivity"></i> 
		</div>
		<div class="form-group col-xs-9">
			<label data-i18n="shared.fieldactivity">field activity</label>
			<div>
				<select  name="st_FieldActivity_Name" disabled class="blackFont form-control editField">
					<option></option>
				</select>
			</div>
		</div>
	</div>


	<div class="row" >
		<div class="form-group col-xs-12">
			<div class="panel-group" id="accordionFW">
				<div class="panel panel-default">
					<div class="panel-heading">
							<span class="panel-title">
							<a data-toggle="collapse" data-parent="" href="#collapseThree" class="collapsed">
								<h5>
									<i class="reneco reneco-users"></i> 
									&nbsp;<span data-i18n="shared.fieldworker">Field worker</span>s&nbsp;
									<span class="caret"></span>
								</h5>
							</a>
							</span>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							<label><span data-i18n="shared.fieldworker">Field worker</span> 1</label>
							<select  class="blackFont form-control fieldworker editField" disabled name="detailsStFW1" >
								<option></option>
							</select>
							<label><span data-i18n="shared.fieldworker">Field worker</span> 2</label>
							<select  class="blackFont form-control fieldworker editField" disabled name="detailsStFW2">
								<option></option>
							</select>
							<label><span data-i18n="shared.fieldworker">Field worker</span> 3</label>
							<select  class="blackFont form-control fieldworker editField" disabled name="detailsStFW3">
									<option></option>
							</select>

							<label><span data-i18n="shared.fieldworker">Field worker</span> 4</label>
							<select class="blackFont form-control fieldworker editField" disabled name="detailsStFW4">
								<option></option>
							</select>

							<label><span data-i18n="shared.fieldworker">Field worker</span> 5</label>
							<select  class="blackFont form-control fieldworker editField" disabled name="detailsStFW5">
								<option></option>
							</select>
							<label>total</label>
							<input id="stDtailsNbFW" class="blackFont form-control editField" disabled name="detailsStFWTotal">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

