	<div id="tmp"  class="col-xs-12 col-md-5 col-border ns-full-height">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#inputStLeft">With coordinates</a></li>
		  <li><a href="#stWithoutCoords">Without coordinates</a></li>
		</ul>
	</div>
	<div class="tab-content">
		<div id="inputStLeft" class="tab-pane fade in active">

		</div>
		<div id="stWithoutCoords" class="tab-pane fade">
		<h3>Menu 1</h3>
		<p>Some content in menu 1.</p>
	</div>

	</div>
	
	<div id="inputStRight" class=" no-padding col-xs-12 col-md-7 ns-full-height">
	</div>
