	<div class="ui segment">
		<div class="ui fluid basic large form segment"> 
			<div class="grouped fields">
				<br>
				<h4 class="text-center" for="male" data-i18n="input.step1Label">select an action</h4>
				<br>
				<div class="tile-inside-container">

					<div class="new tile-inside noselect">
						<h4 data-i18n="input.step1NewSt">Create a new station</h4>
						<div class="picto">
							<i class="fa fa-3x huge icon reneco reneco-stations "></i>
							<i class="fa fa-3x icon reneco reneco-add"></i>
						</div>
						<div class="radio">
							<label for="st10">
								<input type="radio" name="stationtype" value="1" checked class="stationtype" id ="st10">
								<span data-i18n="input.step1NewStCoords">new station with coordinates</span>
							</label>
						</div>
						<div class="radio">
							<label>
									<input type="radio" name="stationtype" value="2">
									<span data-i18n="input.step1NewStWitoutCoords">new station without coordinates</span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="stationtype" value="3">
								<span data-i18n="input.step1NewStMonitoredSite">new station from monitored site</span>
							</label>
						</div>
					</div>

					<div class="field tile-inside radio-select noselect">
						<h4 data-i18n="input.step1ImpSt">Last imported station(s)</h4>
						<div class="picto">
							<i class="fa fa-3x huge icon reneco reneco-stations "></i>
							<i class="fa fa-3x icon reneco reneco-import"></i>
						</div>
						<div class="radio">
							<label for="st2">
								<input type="radio" name="stationtype" class="stationtype" value="last" id ="st2" >
								<span data-i18n="input.step1ImpStLbel">last imported station(s)</span>
							</label>
						</div>
					</div>

					<div class="field tile-inside radio-select noselect">
						<h4 data-i18n="input.step1ExistSt">Existing station(s)</h4>
						<div class="picto">
							<i class="fa fa-3x huge icon reneco reneco-stations "></i>
							<i class="fa fa-3x icon reneco reneco-search"></i>
						</div>
						<div class="radio">
							<label for="st3">
								<input type="radio" name="stationtype" value="old" id ="st3" class="stationtype">
								<span data-i18n="input.step1ExistStLabel">from existing stations</span>
							</label>
						</div>
						<div class="radio">
							<label>
							<input type="radio" name="stationtype" value="monitored">
							<span data-i18n="input.step1ExistSitesLabel">from monitored sites</span>
							</label>
						</div>
					</div>

				</div>
			</div>
		</div> 
	</div>
