<button id="addUser-btn" class="small btn btn-labeled btn-grey white">
	<span>Add user</span>
	<span class="btn-label">
	<i class="icon reneco rightarrow white action-picto"></i>
	</span>
</button>
<button id="removeUser-btn" class="small btn btn-labeled btn-grey white masqued">
	<span>Remove user</span>
	<span class="btn-label">
	<i class="icon reneco rightarrow white action-picto"></i>
	</span>
</button>
<button id="geolocation-btn" class="small btn btn-labeled btn-grey white">
	<span>Get current position</span>
	<span class="btn-label">
	<i class="icon reneco rightarrow white action-picto"></i>
	</span>
</button>
