<div id=""	class="scroll-auto col-xs-12 col-md-3 col-border ns-full-height">
	<br>
	<div id="rgStation"></div>
	<br>
	<legend>Add a new protocol</legend>
	<div class="col-md-10">
		<select name="" id="protoList" class="form-control"></select>
	</div>
	<button id="addProto" class="add">+</button>


</div>

<div id="rgProtos" class="col-xs-12 col-md-9 ns-full-height">
	<br>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"></div>
</div>

<div class='hidden'>
	<select id='usersList'></select>
</div>

