
<div id="leftZone"  class="col-xs-12 col-md-4 col-border ns-full-height">
	<br>
	<ul class="nav nav-tabs">
		 <li class="active tab-ele"><a class="tab-link" title="allSt">All stations</a></li>
		 <li class="tab-ele"><a class="tab-link" title="impSt">Imported stations</a></li>
	</ul>
	<div class="tab-content all-stations">
		<div id="allSt" class="tab-pane fade in active tab-ele">

		</div>
		<div id="impSt">

		</div>
	</div>
	<legend>Filters</legend>
	<div id="filters" class=""></div>

	<div class="col-xs-12">
		<button id="submit" class="btn btn-success pull-right">
			Filter&nbsp;
			<span class="reneco reneco-search"></span>
		</button>
	</div>
</div>

<div id="rightZone" class=" col-xs-12 col-md-8 ns-full-height dark">
	<br>
	<legend class="text-right">Total stations : <span id="totalEntries"></span></legend>
	<div id="grid" class="backgrid-container grid-list"></div>
	<br>
	<div id="paginator" class="paginator"></div>
</div>
