@icon-font-path: "../../bower_components/bootstrap/fonts/";



@font-face {
  font-family: 'Exo 2';
    src: url('./fonts/fontZero/RenExo2-Thin.eot');
    src: url('./fonts/fontZero/RenExo2-Thin.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fontZero/RenExo2-Thin.woff2') format('woff2'),
         url('./fonts/fontZero/RenExo2-Thin.woff') format('woff'),
         url('./fonts/fontZero/RenExo2-Thin.ttf') format('truetype'),
         url('./fonts/fontZero/RenExo2-Thin.svg#RenExo_2Thin') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
  font-family: 'Exo 2';
    src: url('./fonts/fontZero/RenExo2-ExtraLight.eot');
    src: url('./fonts/fontZero/RenExo2-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fontZero/RenExo2-ExtraLight.woff2') format('woff2'),
         url('./fonts/fontZero/RenExo2-ExtraLight.woff') format('woff'),
         url('./fonts/fontZero/RenExo2-ExtraLight.ttf') format('truetype'),
         url('./fonts/fontZero/RenExo2-ExtraLight.svg#RenExo_2Extra_Light') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
  font-family: 'Exo 2';
    src: url('./fonts/fontZero/RenExo2-Light.eot');
    src: url('./fonts/fontZero/RenExo2-Light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fontZero/RenExo2-Light.woff2') format('woff2'),
         url('./fonts/fontZero/RenExo2-Light.woff') format('woff'),
         url('./fonts/fontZero/RenExo2-Light.ttf') format('truetype'),
         url('./fonts/fontZero/RenExo2-Light.svg#RenExo_2Light') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
  font-family: 'Exo 2';
    src: url('./fonts/fontZero/RenExo2-Regular.eot');
    src: url('./fonts/fontZero/RenExo2-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fontZero/RenExo2-Regular.woff2') format('woff2'),
         url('./fonts/fontZero/RenExo2-Regular.woff') format('woff'),
         url('./fonts/fontZero/RenExo2-Regular.ttf') format('truetype'),
         url('./fonts/fontZero/RenExo2-Regular.svg#RenExo_2Regular') format('svg');
    font-weight: 400;
    font-style: normal;

}



@font-face {
  font-family: 'Exo 2';
    src: url('./fonts/fontZero/RenExo2-Medium.eot');
    src: url('./fonts/fontZero/RenExo2-Medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fontZero/RenExo2-Medium.woff2') format('woff2'),
         url('./fonts/fontZero/RenExo2-Medium.woff') format('woff'),
         url('./fonts/fontZero/RenExo2-Medium.ttf') format('truetype'),
         url('./fonts/fontZero/RenExo2-Medium.svg#RenExo_2Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
    src: url('./fonts/fontZero/RenExo2-SemiBold.eot');
    src: url('./fonts/fontZero/RenExo2-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fontZero/RenExo2-SemiBold.woff2') format('woff2'),
         url('./fonts/fontZero/RenExo2-SemiBold.woff') format('woff'),
         url('./fonts/fontZero/RenExo2-SemiBold.ttf') format('truetype'),
         url('./fonts/fontZero/RenExo2-SemiBold.svg#RenExo_2Semi_Bold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
  font-family: 'Exo 2';
    src: url('./fonts/fontZero/RenExo2-Bold.eot');
    src: url('./fonts/fontZero/RenExo2-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fontZero/RenExo2-Bold.woff2') format('woff2'),
         url('./fonts/fontZero/RenExo2-Bold.woff') format('woff'),
         url('./fonts/fontZero/RenExo2-Bold.ttf') format('truetype'),
         url('./fonts/fontZero/RenExo2-Bold.svg#RenExo_2Bold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
  font-family: 'Exo 2';
    src: url('./fonts/fontZero/RenExo2-ExtraBold.eot');
    src: url('./fonts/fontZero/RenExo2-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fontZero/RenExo2-ExtraBold.woff2') format('woff2'),
         url('./fonts/fontZero/RenExo2-ExtraBold.woff') format('woff'),
         url('./fonts/fontZero/RenExo2-ExtraBold.ttf') format('truetype'),
         url('./fonts/fontZero/RenExo2-ExtraBold.svg#RenExo_2Extra_Bold') format('svg');
    font-weight: 800;
    font-style: normal;

}

@font-face {
  font-family: 'Exo 2';
    src: url('./fonts/fontZero/RenExo2-Black.eot');
    src: url('./fonts/fontZero/RenExo2-Black.eot?#iefix') format('embedded-opentype'),
         url('./fonts/fontZero/RenExo2-Black.woff2') format('woff2'),
         url('./fonts/fontZero/RenExo2-Black.woff') format('woff'),
         url('./fonts/fontZero/RenExo2-Black.ttf') format('truetype'),
         url('./fonts/fontZero/RenExo2-Black.svg#RenExo_2Black') format('svg');
    font-weight: 900;
    font-style: normal;
}


@import "../../bower_components/reneco-fonts/style.css";


//size (draft)
.icon-one{
  font-size: 1em;
}
.icon-two{
  font-size: 2em;
}
.icon-three{
  font-size: 3em;
}
.icon-four{
  font-size: 4em;
}
.icon-five{
  line-height: inherit!important;
  font-size: 5em;
}
