
html, body{
	height: 100%;
	//overflow: hidden;
	font-family: 'Exo 2', sans-serif;
}

body{
	background: url(./img/bg-home.jpg) center center no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
main{
	height: 100%;
	padding-top: 50px;
}
.white{
	background: white;
}

.btn-circle{
	border: none;
	background: transparent;
	border-radius: 100%;
	color: white;
	margin: 0px 15px;

}

ul.unstyled{
	padding: 0px;
	margin: 0px;
}


.container{
	height: 100%;
}

.masqued{
	display: none;
}

a{
	&:hover, &:focus, &:visited{
		text-decoration: none;
		color: inherit;
	}
}

.no-padding, .ns-no-padding{
	padding: 0px;
}
.full-height, .ns-full-height{
	overflow: auto;
	height: 100%;
}
.ns-mid-height{
	height: 50%;
}
.displayInput {
    padding-left: 0;
    padding-top: 0;
    background: none!important;
    border: none;
    box-shadow: none;
    /*color: #f3f3f3;*/
}

@media (max-width: @screen-md-min) {
	.full-height{
		height: auto;
	}
}




.col-border {
	border-right: 1px solid @gray-lighter;
}

li.list-group-item{
	overflow: hidden;
	cursor: pointer;
	&.validated{
		border: 1px solid @main-green;
		background: @main-green;
		color: white;
	}
}



/*==========  scroll bar design  ==========*/
::-webkit-scrollbar-thumb {
	background: @gray-light;
	width: 10px;
	border: 1px solid #999;
	margin: 5px;
}
::-webkit-scrollbar{
	background: @gray-lighter;
	width: 10px;
	height: 10px;
	margin: 5px;
	cursor: pointer;
}

.break{
	word-wrap : break-word;
}

.noselect {
	cursor : pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.rotate3d{
	transition: all .3s ease;
	transform: perspective( 1000px ) rotateY( 90deg );
}


.animated {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
}


.btn[disabled]{
	pointer-events: auto;
}

.pull-left{
	float: left;
}

.bg-white{
	background: white;
}
