html, body{
	height: 100%;
	//overflow: hidden;
	font-family: 'Exo 2', sans-serif;
}

body{
	background: url(./img/bg-home.jpg) center center no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}
main{
	height: 100%;
	padding-top: 50px;
  background: rgba(255,255,255,0.4);
}
.white{
	background: white;
}

.black{
	background: black;
}

.color-white{
	color: white;
}

.outer-left{
	position: relative;
	left: -100%;
}

.outer-right{
	position: relative;
	right: -100%;
}

.oh{
	overflow: hidden;
}

.btn-circle{
	border: none;
	background: transparent;
	border-radius: 100%;
	color: white;
	margin: 0px 15px;

}

.rel{
	position: relative;
}


.detail{
	position: absolute;
	width: 100%;
	top: 0;
}

ul.unstyled{
	padding: 0px;
	margin: 0px;
}


.container{
	height: 100%;
}

.masqued{
	display: none;
}

a{
	&:hover, &:focus, &:visited{
		text-decoration: none;
		color: inherit;
	}
	&.whitev:visited{
		color: white;
	}
}

.no-padding, .ns-no-padding{
	padding: 0px!important;
}
.no-padding-left{
  padding-left: 0px!important;
}

.full-height, .ns-full-height{
	overflow: auto;
	height: 100%;
}
.mid-height{
	height: 50%;
}

span.bull-warn{
	color: rgb(208, 2, 27);
	padding: 5px;
	font-size: 1.3em;
}

//???
/* .tab-content.all-stations {
	height: 0;
} */

/* @media (max-width: @screen-md-min) {
	.full-height{
		height: auto;
	}
} */

.pos-abs{
  position: absolute;
}


.col-border {
	border-right: 1px solid @gray-lighter;
}

li.list-group-item{
	overflow: hidden;
	cursor: pointer;
	&.validated{
		border: 1px solid @main-green;
		background: @main-green;
		color: white;
	}
}



/*==========  scroll bar design  ==========*/
::-webkit-scrollbar-thumb {
	background: @gray-light;
	width: 10px;
	border: 1px solid #999;
	margin: 5px;
}
::-webkit-scrollbar{
	background: #ccc;
	width: 10px;
	height: 10px;
	margin: 5px;
	cursor: pointer;
}

.break{
	word-wrap : break-word;
}

.noselect {
	cursor : pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.rotate3d{
	transition: all .3s ease;
	transform: perspective( 1000px ) rotateY( 90deg );
}


.animated {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
}


.btn[disabled]{
	pointer-events: auto;
}

.bg-white{
	background: white;
}

@media (min-width: 992px){
	.modal-lg {
    	width: 1200px;
	}
}


.rotate {
    display: block;
    position: absolute;
    margin: 0;
    padding: 30px 0px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

textarea {
    resize: none;
}

.circle{
	border: 2px solid;
    background: transparent;
    border-radius: 100%;
    padding: 5px;
    font-weight: bolder;
}


/* CSS 2 PIER 
*
*  A mettre dans les bons fichiers CSS
*
Bouton*/
/* .panel-heading .btn-prevent-collapse {
	padding: 25px 20px 3px 12px;
}
.btn-success{
	position: relative;
    padding: 6px 40px 6px 12px;
}
div#stationForm button.btn-success{
	padding: 23px 20px 6px 12px;
}
.btn-success .reneco {
    position: absolute;
    height: 100%;
    left: auto;
    right: 0;
    border-radius: 0;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    box-shadow: 1px 0 0 0 transparent inset;
    width: 2.57142857em;
    background-color: rgba(0,0,0,.05);
    top: 0;
    line-height: 30px;
} */
/* Formulaires
dans les stations enlever les class "list-inline" des select */


div.form-control{
  height: auto;
}

/* Thesaurus */
span.fancytree-title {
	font-family: 'Exo 2', sans-serif;
}
span.fancytree-title:hover {
	background: linear-gradient(to bottom, rgba(46, 204, 64, 0.1) 0%, rgba(46, 204, 64, 0.3) 100%) !important;
	-webkit-background: linear-gradient(to bottom, rgba(46, 204, 64, 0.1) 0%, rgba(46, 204, 64, 0.3) 100%) !important;	
}
ul.fancytree-container{
  z-index: 1;
	border:0;
  max-height: 500px;
}
div.fancytreeview{
  //why top: 54px?
  top: inherit!important;
	position: absolute;
	border: 1px solid rgba(46, 204, 64, 0.6) !important;
}
/* 
Dans detail station, bloc "Detailled Infos", en mode edit : 
 - Ajouter une class sur une div contenant le bloc qui change de statut pour indiquer le mode "edit" sinon ce n'est pas possible de différencier les styles
 - Pour avoir la croix à côté de la liste déroulante, il faut change le template de listeoFnestedModel comme sur ecollection. Avoir le bouton "x" dans un col-md-2 et le select dans col-md-10
 */
/* FIN PIER */
