
<div id="stepper" class="full-height">
	<div class="StepManager fuelux full-height">
		<div class="full-height orchestrator">
			<div class="wizard full-height animated" id="importWizard" style="padding-bottom:1%!important;">
				<div class="step-content full-height">
					<div class="full-height">
						<div class="echapment">
							<div class="ui segment wrapper">
								<div class="ui fluid basic large form segment"> 
									<div class="grouped fields clearfix tile-inside-container">

										<div class="new tile-inside smile">
											<div id="radio-tile" class="manual-tile-import">
												<div class="center">
													<i class="icon-five reneco reneco-gpx_format "></i>
												
												</div>
													<div class="radio">
													<label>
													GPX <br>
													<input type="radio" name="filetype" value="gpx" checked>
													
													</label>
												</div>
											</div>
										</div>

										<div class="new tile-inside smile">
											<div id="radio-tile" class="manual-tile-import">
												<div class="center">
													<i class="icon-five reneco reneco-rfid_format "></i>
												
												</div>
												<div class="radio">
													<label>
													RFID<br>
													<input type="radio" name="filetype" value="rfid">
													
													</label>
												</div>
											</div>
										</div>

										<div class="new tile-inside smile">
											<div id="radio-tile" class="manual-tile-import">
												<div class="center">
													<i class="icon-five reneco reneco-gsm_format "></i>
												</div>
												<div class="radio">
													<label>
													GSM <br>
													<input type="radio" name="filetype" value="gsm">
													</label>
												</div>
											</div>
										</div>

										<div class="new tile-inside smile">
											<div id="radio-tile" class="manual-tile-import disable">
												<div class="center">
													<i class="icon-five reneco reneco-csv_format "></i>
												</div>
												<div class="radio">
													<label>
													CSV <br>
													<input type="radio" name="filetype" value="gps-csv" disabled>
													</label>
												</div>
											</div>
										</div>

									</div>
								</div> 
								<div id="info-GPX" class="ui basic segment">
								<br><br><br>
								<p data-i18n="import.gpxHelp">GPX, or GPS eXchange Format is an XML schema designed as a common GPS data format. It can be used to describe waypoints, tracks, and routes.<p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="actions" id="actions">

				<button class=" pull-right btn btn-lg btn-next btn-custom " id="nextStepper" >
				<span class="ctrl" data-i18n="stepper.btnNext">Next</span>
				<i class="icon reneco reneco-rightarrow white action-picto"></i>
				</button>
			</div>
		</div>
	</div>
</div>

