
<div id="stepper" class="full-height stepper">
			<div class="wizard animated">
				<div class="clearfix">
					<ul id="stepNav" class="step-nav clearfix pull-left"></ul>
				</div>
				<div class="step-content">
									<div class="grouped fields clearfix tile-inside-container">

										<div class="new tile-inside smile">
											<div id="radio-tile" class="manual-tile-import">
												<div class="center">
													<i class="icon-five reneco reneco-gpx_format "></i>
												
												</div>
													<div class="radio">
													<label>
													GPX <br>
													<input type="radio" name="filetype" value="gpx" checked>
													
													</label>
												</div>
											</div>
										</div>

										<div class="new tile-inside smile">
											<div id="radio-tile" class="manual-tile-import" disabled>
												<div class="center">
													<i class="icon-five reneco reneco-rfid_format "></i>
												
												</div>
												<div class="radio">
													<label>
													RFID<br>
													<input type="radio" name="filetype" value="rfid" >
													
													</label>
												</div>
											</div>
										</div>

										<div class="new tile-inside smile">
											<div id="radio-tile" class="manual-tile-import" disabled>
												<div class="center">
													<i class="icon-five reneco reneco-gsm_format "></i>
												</div>
												<div class="radio">
													<label>
													GSMss <br>
													<input type="radio" name="filetype" value="gsm" >
													</label>
												</div>
											</div>
										</div>

										<div class="new tile-inside smile">
											<div id="radio-tile" class="manual-tile-import disable">
												<div class="center">
													<i class="icon-five reneco reneco-csv_format "></i>
												</div>
												<div class="radio">
													<label>
													CSV <br>
													<input type="radio" name="filetype" value="gps-csv" disabled>
													</label>
												</div>
											</div>
										</div>

									</div>
								<div id="info-GPX" class="ui basic segment">
								<br><br><br>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-i18n="import.gpxHelp">GPX, or GPS eXchange Format is an XML schema designed as a common GPS data format. It can be used to describe waypoints, tracks, and routes.</span></p>
								</div>
				</div>
			</div>
			<div class="actions" id="actions">

				<button class=" pull-right btn btn-lg btn-next btn-custom " id="nextStepper" >
				<span class="ctrl" data-i18n="stepper.btnNext">Next</span>
				<i class="icon reneco reneco-rightarrow white action-picto"></i>
				</button>
			</div>
</div>

